@media screen and (max-width: 640px) {
  .hide-sm {
    display: none;
  }
}
@media screen and (min-width: 641px) and (max-width: 1024px) {
  .hide-md {
    display: none;
  }
}
@media screen and (min-width: 1025px) {
  .hide-lg {
    display: none;
  }
}
@media screen and (max-width: 640px) {
  .show-sm {
    display: block;
  }
}
@media screen and (min-width: 641px) and (max-width: 1024px) {
  .show-md {
    display: block;
  }
}
@media screen and (min-width: 1025px) {
  .show-lg {
    display: block;
  }
}
.clearfix::after {
  display: table;
  clear: both;
  content: "";
}
body {
  background-color: #f0f0f0;
  overflow-x: hidden;
}
html {
  font-size: 45%;
}
.mainbox {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 980px;
}
.hp:hover {
  cursor: pointer;
}
@media screen and (max-width: 640px) {
  body {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
}
@-webkit-keyframes about {
  50% {
    left: 25%;
  }
  100% {
    left: 25%;
  }
}
@-moz-keyframes about {
  50% {
    left: 25%;
  }
  100% {
    left: 25%;
  }
}
@-ms-keyframes about {
  50% {
    left: 25%;
  }
  100% {
    left: 25%;
  }
}
@-o-keyframes about {
  50% {
    left: 25%;
  }
  100% {
    left: 25%;
  }
}
@keyframes about {
  50% {
    left: 25%;
  }
  100% {
    left: 25%;
  }
}
@-webkit-keyframes hr {
  50% {
    left: 75%;
  }
  100% {
    left: 75%;
  }
}
@-moz-keyframes hr {
  50% {
    left: 75%;
  }
  100% {
    left: 75%;
  }
}
@-ms-keyframes hr {
  50% {
    left: 75%;
  }
  100% {
    left: 75%;
  }
}
@-o-keyframes hr {
  50% {
    left: 75%;
  }
  100% {
    left: 75%;
  }
}
@keyframes hr {
  50% {
    left: 75%;
  }
  100% {
    left: 75%;
  }
}
@-webkit-keyframes news {
  50% {
    left: 50%;
  }
  100% {
    left: 50%;
  }
}
@-moz-keyframes news {
  50% {
    left: 50%;
  }
  100% {
    left: 50%;
  }
}
@-ms-keyframes news {
  50% {
    left: 50%;
  }
  100% {
    left: 50%;
  }
}
@-o-keyframes news {
  50% {
    left: 50%;
  }
  100% {
    left: 50%;
  }
}
@keyframes news {
  50% {
    left: 50%;
  }
  100% {
    left: 50%;
  }
}
@-webkit-keyframes index {
  50% {
    left: 0%;
  }
  100% {
    left: 0%;
  }
}
@-moz-keyframes index {
  50% {
    left: 0%;
  }
  100% {
    left: 0%;
  }
}
@-ms-keyframes index {
  50% {
    left: 0%;
  }
  100% {
    left: 0%;
  }
}
@-o-keyframes index {
  50% {
    left: 0%;
  }
  100% {
    left: 0%;
  }
}
@keyframes index {
  50% {
    left: 0%;
  }
  100% {
    left: 0%;
  }
}
.bor.index {
  -webkit-animation: index 0.6s;
  -moz-animation: index 0.6s;
  -ms-animation: index 0.6s;
  -o-animation: index 0.6s;
  animation: index 0.6s;
}
.bor.hr {
  -webkit-animation: hr 0.6s;
  -moz-animation: hr 0.6s;
  -ms-animation: hr 0.6s;
  -o-animation: hr 0.6s;
  animation: hr 0.6s;
}
.bor.news {
  -webkit-animation: news 0.6s;
  -moz-animation: news 0.6s;
  -ms-animation: news 0.6s;
  -o-animation: news 0.6s;
  animation: news 0.6s;
}
.bor.about {
  -webkit-animation: about 0.6s;
  -moz-animation: about 0.6s;
  -ms-animation: about 0.6s;
  -o-animation: about 0.6s;
  animation: about 0.6s;
}
@media screen and (max-width: 640px) {
  .path {
    display: none;
  }
}
a .title {
  display: inline-block;
}
.bottomline {
  position: relative;
  content: '';
  display: block;
  height: 2px;
  background-color: #1e439a;
  margin-right: 8rem;
  margin-bottom: 16px;
  margin-top: -10px;
}
.footer1 {
  width: 100%;
  background-color: #191919;
}
.footer1 .copyright {
  padding: 10px 0;
  line-height: 1.5;
  color: #cacaca;
  font-size: 12px;
  text-align: center;
}
.footer {
  display: none;
}
@media screen and (max-width: 640px) {
  .footer {
    display: block;
    padding: 3rem 0;
  }
  .footer img {
    width: 35%;
    margin: auto auto ;
  }
}
