.clearfix::after {
  display: table;
  clear: both;
  content: "";
}
body {
  background-color: #f0f0f0;
  overflow-x: hidden;
}
html {
  font-size: 45%;
}
.mainbox {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 980px;
}
.hp:hover {
  cursor: pointer;
}
header {
  display: block;
  position: absolute;
  width: 100%;
}
@media screen and (max-width: 640px) {
  header {
    height: 40px;
  }
}
@media screen and (min-width: 641px) {
  header {
    height: 70px;
  }
}
@media screen and (min-width: 1025px) {
  header {
    height: 70px;
  }
}
header .logo {
  height: 90%;
  max-height: 100%;
  width: auto;
  position: absolute;
  z-index: 5;
  top: 50%;
  left: 3%;
  -webkit-transform: translateY(-50%);
}
@media screen and (max-width: 640px) {
  header .logo {
    display: none;
  }
}
header nav {
  color: #fff;
  font-size: 2rem;
  position: absolute;
  z-index: 5;
  top: 50%;
  right: 3%;
  -webkit-transform: translateY(-50%);
}
header nav::after {
  display: table;
  clear: both;
  content: "";
}
header nav .bor {
  display: block;
  position: absolute;
  width: 25%;
  height: 2px;
  background-color: #fe393d;
  bottom: 0;
  left: 0;
}
@media screen and (max-width: 640px) {
  header nav {
    width: 100%;
    position: relative;
  }
}
header nav li {
  text-align: center;
  position: relative;
  float: left;
  height: 4.8rem;
  line-height: 4.8rem;
  width: 10rem;
}
@media screen and (max-width: 640px) {
  header nav li {
    width: 25%;
  }
}
header nav li.active {
  font-weight: bold;
}
header nav a {
  display: block;
  width: 100%;
}
header nav a:hover {
  color: #cacaca;
}
