.topIntro {
  width: 100%;
  height: auto;
  background-color: #fff;
}
.topIntro img {
  width: 100%;
  height: auto;
  color: #555555;
}
.topIntro h2 {
  font-size: .3rem;
  text-align: center;
}
.topIntro small {
  display: block;
  height: .25rem;
  line-height: .25rem;
  background-color: #fe393d;
}
.topIntro p {
  font-size: .2rem;
}
.det-title {
  width: 100%;
  height: .4rem;
  line-height: .4rem;
  text-align: center;
}
.det-title .leftLine,
.det-title .rightLine {
  width: 20%;
  height: 100%;
  display: inline-block;
}
.det-title .leftLine {
  background: url(images/leftLine.png) center no-repeat;
}
.det-title .rightLine {
  background: url(images/rightLine.png) center no-repeat;
}
.detailIntro {
  width: 100%;
  height: auto;
}
.detailIntro .imgBox {
  position: relative;
  width: 100%;
  height: auto;
  background-color: #fff;
}
.detailIntro .imgBox .posIndex {
  display: block;
  height: .2rem;
  width: auto;
  color: #fff;
  font-size: .15rem;
  background-color: #fe393d;
  position: absolute;
  bottom: .1rem;
  left: .2rem;
}
.detailIntro .imgBox .posIndex i {
  display: inline-block;
  height: 100%;
  width: .2rem;
  background: url(images/11logo.png) center no-repeat;
  margin: 0 .1rem;
}
.recApartment {
  width: 100%;
  height: auto;
  background-color: #fff;
}
.recApartment .title {
  display: block;
  width: 90%;
  height: 3rem;
  line-height: 3rem;
  border-bottom: #e1e1e1 1px solid;
  margin: 0 auto;
}
.recApartment .title .fav {
  display: inline-block;
  height: 2rem;
  width: 2rem;
  background: url(images/fav.png) center no-repeat #fe393d;
  margin-right: .1rem;
}
.recApartment .title h4 {
  display: inline-block;
  font-size: .2rem;
  color: #555;
}
.recApartment .title a {
  display: inline-block;
  font-size: .18rem;
  color: #959595;
}
.recApartment .title a .moreIcon {
  display: inline-block;
  height: .18rem;
  width: .1rem;
  background: url(images/moreIcon.png) center no-repeat;
}
.recApartment .mainApartment {
  width: 90%;
  margin: 0 auto;
}
.recApartment .mainApartment .imgBox {
  width: 50%;
  height: auto;
  float: left;
}
.recApartment .mainApartment .imgBox p {
  color: #555;
  font-size: .2rem;
}
.recApartment .mainApartment .imgBox .price {
  display: block;
  height: .3rem;
  line-height: .3rem;
  font-size: .3rem;
}
.recTheme {
  width: 100%;
  height: auto;
  background-color: #fff;
}
.recTheme .title {
  display: block;
  width: 90%;
  height: 3rem;
  line-height: 3rem;
  border-bottom: #e1e1e1 1px solid;
  margin: 0 auto;
}
.recTheme .title h4 {
  display: inline-block;
  font-size: .2rem;
  color: #555;
}
.recTheme .banner {
  width: 90%;
  height: auto;
  margin: 0 auto;
}
.recTheme .banner .imgBox {
  height: 2rem;
  width: auto;
  float: left;
}
