@charset "UTF-8";
.clearfix::after {
  display: table;
  clear: both;
  content: "";
}
body {
  background-color: #f0f0f0;
  overflow-x: hidden;
}
html {
  font-size: 45%;
}
.mainbox {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 980px;
}
.hp:hover {
  cursor: pointer;
}
@media screen and (max-width: 640px) {
  body {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
}
@-webkit-keyframes about {
  50% {
    left: 25%;
  }
  100% {
    left: 25%;
  }
}
@-moz-keyframes about {
  50% {
    left: 25%;
  }
  100% {
    left: 25%;
  }
}
@-ms-keyframes about {
  50% {
    left: 25%;
  }
  100% {
    left: 25%;
  }
}
@-o-keyframes about {
  50% {
    left: 25%;
  }
  100% {
    left: 25%;
  }
}
@keyframes about {
  50% {
    left: 25%;
  }
  100% {
    left: 25%;
  }
}
@-webkit-keyframes hr {
  50% {
    left: 75%;
  }
  100% {
    left: 75%;
  }
}
@-moz-keyframes hr {
  50% {
    left: 75%;
  }
  100% {
    left: 75%;
  }
}
@-ms-keyframes hr {
  50% {
    left: 75%;
  }
  100% {
    left: 75%;
  }
}
@-o-keyframes hr {
  50% {
    left: 75%;
  }
  100% {
    left: 75%;
  }
}
@keyframes hr {
  50% {
    left: 75%;
  }
  100% {
    left: 75%;
  }
}
@-webkit-keyframes news {
  50% {
    left: 50%;
  }
  100% {
    left: 50%;
  }
}
@-moz-keyframes news {
  50% {
    left: 50%;
  }
  100% {
    left: 50%;
  }
}
@-ms-keyframes news {
  50% {
    left: 50%;
  }
  100% {
    left: 50%;
  }
}
@-o-keyframes news {
  50% {
    left: 50%;
  }
  100% {
    left: 50%;
  }
}
@keyframes news {
  50% {
    left: 50%;
  }
  100% {
    left: 50%;
  }
}
@-webkit-keyframes index {
  50% {
    left: 0%;
  }
  100% {
    left: 0%;
  }
}
@-moz-keyframes index {
  50% {
    left: 0%;
  }
  100% {
    left: 0%;
  }
}
@-ms-keyframes index {
  50% {
    left: 0%;
  }
  100% {
    left: 0%;
  }
}
@-o-keyframes index {
  50% {
    left: 0%;
  }
  100% {
    left: 0%;
  }
}
@keyframes index {
  50% {
    left: 0%;
  }
  100% {
    left: 0%;
  }
}
.bor.index {
  -webkit-animation: index 0.6s;
  -moz-animation: index 0.6s;
  -ms-animation: index 0.6s;
  -o-animation: index 0.6s;
  animation: index 0.6s;
}
.bor.hr {
  -webkit-animation: hr 0.6s;
  -moz-animation: hr 0.6s;
  -ms-animation: hr 0.6s;
  -o-animation: hr 0.6s;
  animation: hr 0.6s;
}
.bor.news {
  -webkit-animation: news 0.6s;
  -moz-animation: news 0.6s;
  -ms-animation: news 0.6s;
  -o-animation: news 0.6s;
  animation: news 0.6s;
}
.bor.about {
  -webkit-animation: about 0.6s;
  -moz-animation: about 0.6s;
  -ms-animation: about 0.6s;
  -o-animation: about 0.6s;
  animation: about 0.6s;
}
.header {
  z-index: 103;
  display: block;
  position: absolute;
  width: 100%;
  height: 90px;
}
.header.hr {
  position: relative;
}
.header.header-about {
  position: absolute;
}
.header .logo {
  float: left;
  height: 75%;
  max-height: 100%;
  width: auto;
  margin-top: 5px;
  margin-left: 20px;
}
.header .nav {
  height: 70%;
  padding-top: 10px;
  display: block;
  color: #fff;
  font-size: 2em;
  position: relative;
  right: 3%;
  float: right;
}
.header .nav::after {
  display: table;
  clear: both;
  content: "";
}
.header .nav .bor {
  display: block;
  position: absolute;
  width: 25%;
  height: 2px;
  z-index: 5;
  background-color: #fe393d;
  bottom: 0;
  left: 0;
}
.header .nav li {
  text-align: center;
  position: relative;
  float: left;
  height: 50%;
  line-height: 45px;
  font-size: 14px;
  width: 100px;
}
.header .nav li.active {
  font-weight: bold;
}
.header .nav a {
  display: block;
  width: 100%;
}
.header .nav a:hover {
  color: #cacaca;
}
.footer {
  display: none;
}
.banner.banner-ot {
  display: none;
}
.banner-unslider-test {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.banner-unslider-test .dots {
  z-index: 300;
}
.banner-unslider-test li {
  position: relative;
}
.banner-unslider-test .swiper-slide.f1 .text {
  text-align: center;
}
.banner-unslider-test .text {
  width: 100%;
  color: #fff;
  text-align: center;
  position: absolute;
  z-index: 20;
  top: 40%;
  left: 0;
}
.banner-unslider-test .text h2 {
  font-weight: bold;
  font-size: 6rem;
  line-height: 110%;
}
.banner-unslider-test .text p {
  font-size: 3rem;
  line-height: 180%;
}
.banner-unslider-test .imgBox {
  height: auto;
  position: relative;
}
.banner-unslider-test .imgBox .layer1 {
  filter: alpha(opacity=20);
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background-color: #000;
}
.next-icon,
.prev-icon {
  display: block;
  height: 62px;
  width: 34px;
  position: absolute;
  z-index: 200;
  top: 40%;
  cursor: pointer;
}
.next-icon {
  right: 3%;
  background: url(../image/ban-icon-r.png) center no-repeat;
}
.prev-icon {
  left: 3%;
  background: url(../image/ban-icon-lf.png) center no-repeat;
}
.swiper-pagination-bullet {
  border: solid 2px #fff;
}
.swiper-pagination-bullet.swiper-pagination-bullet-active {
  border: none;
  background-color: #fff;
}
.intro hr {
  background-color: #c9c9c9;
  margin: auto;
  width: 90%;
}
.intro h2 {
  font-size: 26px;
  line-height: 400%;
}
.intro h5 {
  font-size: 17px;
  line-height: 300%;
  display: none;
}
.intro h5.n1 {
  display: block;
}
.intro p {
  color: #555555;
  font-size: 13px;
  line-height: 200%;
}
.intro > p {
  margin: 60px auto;
  width: 90%;
}
.intro .aboutBox {
  width: 90%;
  margin: 40px auto;
}
.intro .aboutBox .aboutItem {
  margin: 0 auto;
}
.intro .title {
  font-size: 44px;
  line-height: 2;
  color: #555;
}
.intro .title .rightArrow {
  display: inline-block;
  height: 44px;
  width: 80px;
  background: url(../image/arrow-r.png) center no-repeat;
  -webkit-background-size: 4.4rem;
  background-size: 4.4rem;
  vertical-align: middle;
  margin-top: -10px;
}
.intro .item {
  position: relative;
  margin: 120px auto;
  width: 90%;
}
.intro .item .headerImgBox-sm {
  display: none;
}
.intro .item .headerImgBox {
  display: block;
  position: absolute;
  width: 16%;
}
.intro .item .headerImgBox h2 {
  text-align: center;
  line-height: 36px;
  margin: 0 auto 20px !important;
  color: #3d3d3d;
}
.intro .item h2,
.intro .item h5,
.intro .item p {
  margin-left: 25%;
}
.intro .item h5:nth-of-type(1) {
  display: block;
}
.intro .item h5:not( :nth-of-type(1)) {
  display: none;
}
.intro .item p {
  font-size: 17px;
  line-height: 200%;
}
.footer1 {
  width: 100%;
  background-color: #191919;
}
.footer1 .copyright {
  line-height: 2;
  color: #cacaca;
  font-size: 16px;
  text-align: center;
}
.header .nav .bor {
  left: 25%;
}
