.clearfix::after {
  display: table;
  clear: both;
  content: "";
}
body {
  background-color: #f0f0f0;
  overflow-x: hidden;
}
html {
  font-size: 45%;
}
.mainbox {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 980px;
  overflow-x: hidden;
}
.hp:hover {
  cursor: pointer;
}
@media screen and (max-width: 640px) {
  body {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
}
@-webkit-keyframes "about" {
  50% {
    transform: translateX(100%);
    -ms-transform: translateX(100%);
    /* IE 9 */
    -moz-transform: translateX(100%);
    /* Firefox */
    -webkit-transform: translateX(100%);
    /* Safari 和 Chrome */
    -o-transform: translateX(100%);
    /* Opera */
  }
  100% {
    transform: translateX(100%);
    -ms-transform: translateX(100%);
    /* IE 9 */
    -moz-transform: translateX(100%);
    /* Firefox */
    -webkit-transform: translateX(100%);
    /* Safari 和 Chrome */
    -o-transform: translateX(100%);
    /* Opera */
  }
}
@-moz-keyframes "about" {
  50% {
    transform: translateX(100%);
    -ms-transform: translateX(100%);
    /* IE 9 */
    -moz-transform: translateX(100%);
    /* Firefox */
    -webkit-transform: translateX(100%);
    /* Safari 和 Chrome */
    -o-transform: translateX(100%);
    /* Opera */
  }
  100% {
    transform: translateX(100%);
    -ms-transform: translateX(100%);
    /* IE 9 */
    -moz-transform: translateX(100%);
    /* Firefox */
    -webkit-transform: translateX(100%);
    /* Safari 和 Chrome */
    -o-transform: translateX(100%);
    /* Opera */
  }
}
@-ms-keyframes "about" {
  50% {
    transform: translateX(100%);
    -ms-transform: translateX(100%);
    /* IE 9 */
    -moz-transform: translateX(100%);
    /* Firefox */
    -webkit-transform: translateX(100%);
    /* Safari 和 Chrome */
    -o-transform: translateX(100%);
    /* Opera */
  }
  100% {
    transform: translateX(100%);
    -ms-transform: translateX(100%);
    /* IE 9 */
    -moz-transform: translateX(100%);
    /* Firefox */
    -webkit-transform: translateX(100%);
    /* Safari 和 Chrome */
    -o-transform: translateX(100%);
    /* Opera */
  }
}
@-o-keyframes "about" {
  50% {
    transform: translateX(100%);
    -ms-transform: translateX(100%);
    /* IE 9 */
    -moz-transform: translateX(100%);
    /* Firefox */
    -webkit-transform: translateX(100%);
    /* Safari 和 Chrome */
    -o-transform: translateX(100%);
    /* Opera */
  }
  100% {
    transform: translateX(100%);
    -ms-transform: translateX(100%);
    /* IE 9 */
    -moz-transform: translateX(100%);
    /* Firefox */
    -webkit-transform: translateX(100%);
    /* Safari 和 Chrome */
    -o-transform: translateX(100%);
    /* Opera */
  }
}
@keyframes "about" {
  50% {
    transform: translateX(100%);
    -ms-transform: translateX(100%);
    /* IE 9 */
    -moz-transform: translateX(100%);
    /* Firefox */
    -webkit-transform: translateX(100%);
    /* Safari 和 Chrome */
    -o-transform: translateX(100%);
    /* Opera */
  }
  100% {
    transform: translateX(100%);
    -ms-transform: translateX(100%);
    /* IE 9 */
    -moz-transform: translateX(100%);
    /* Firefox */
    -webkit-transform: translateX(100%);
    /* Safari 和 Chrome */
    -o-transform: translateX(100%);
    /* Opera */
  }
}
@-webkit-keyframes "about" {
  50% {
    transform: translateX(100%);
    -ms-transform: translateX(100%);
    /* IE 9 */
    -moz-transform: translateX(100%);
    /* Firefox */
    -webkit-transform: translateX(100%);
    /* Safari 和 Chrome */
    -o-transform: translateX(100%);
    /* Opera */
  }
  100% {
    transform: translateX(100%);
    -ms-transform: translateX(100%);
    /* IE 9 */
    -moz-transform: translateX(100%);
    /* Firefox */
    -webkit-transform: translateX(100%);
    /* Safari 和 Chrome */
    -o-transform: translateX(100%);
    /* Opera */
  }
}
@-moz-keyframes "about" {
  50% {
    transform: translateX(100%);
    -ms-transform: translateX(100%);
    /* IE 9 */
    -moz-transform: translateX(100%);
    /* Firefox */
    -webkit-transform: translateX(100%);
    /* Safari 和 Chrome */
    -o-transform: translateX(100%);
    /* Opera */
  }
  100% {
    transform: translateX(100%);
    -ms-transform: translateX(100%);
    /* IE 9 */
    -moz-transform: translateX(100%);
    /* Firefox */
    -webkit-transform: translateX(100%);
    /* Safari 和 Chrome */
    -o-transform: translateX(100%);
    /* Opera */
  }
}
@-ms-keyframes "about" {
  50% {
    transform: translateX(100%);
    -ms-transform: translateX(100%);
    /* IE 9 */
    -moz-transform: translateX(100%);
    /* Firefox */
    -webkit-transform: translateX(100%);
    /* Safari 和 Chrome */
    -o-transform: translateX(100%);
    /* Opera */
  }
  100% {
    transform: translateX(100%);
    -ms-transform: translateX(100%);
    /* IE 9 */
    -moz-transform: translateX(100%);
    /* Firefox */
    -webkit-transform: translateX(100%);
    /* Safari 和 Chrome */
    -o-transform: translateX(100%);
    /* Opera */
  }
}
@-o-keyframes "about" {
  50% {
    transform: translateX(100%);
    -ms-transform: translateX(100%);
    /* IE 9 */
    -moz-transform: translateX(100%);
    /* Firefox */
    -webkit-transform: translateX(100%);
    /* Safari 和 Chrome */
    -o-transform: translateX(100%);
    /* Opera */
  }
  100% {
    transform: translateX(100%);
    -ms-transform: translateX(100%);
    /* IE 9 */
    -moz-transform: translateX(100%);
    /* Firefox */
    -webkit-transform: translateX(100%);
    /* Safari 和 Chrome */
    -o-transform: translateX(100%);
    /* Opera */
  }
}
@keyframes "about" {
  50% {
    transform: translateX(100%);
    -ms-transform: translateX(100%);
    /* IE 9 */
    -moz-transform: translateX(100%);
    /* Firefox */
    -webkit-transform: translateX(100%);
    /* Safari 和 Chrome */
    -o-transform: translateX(100%);
    /* Opera */
  }
  100% {
    transform: translateX(100%);
    -ms-transform: translateX(100%);
    /* IE 9 */
    -moz-transform: translateX(100%);
    /* Firefox */
    -webkit-transform: translateX(100%);
    /* Safari 和 Chrome */
    -o-transform: translateX(100%);
    /* Opera */
  }
}
@-webkit-keyframes "join_us" {
  50% {
    transform: translateX(100%);
    -ms-transform: translateX(100%);
    /* IE 9 */
    -moz-transform: translateX(100%);
    /* Firefox */
    -webkit-transform: translateX(100%);
    /* Safari 和 Chrome */
    -o-transform: translateX(100%);
    /* Opera */
  }
  100% {
    transform: translateX(100%);
    -ms-transform: translateX(100%);
    /* IE 9 */
    -moz-transform: translateX(100%);
    /* Firefox */
    -webkit-transform: translateX(100%);
    /* Safari 和 Chrome */
    -o-transform: translateX(100%);
    /* Opera */
  }
}
@-moz-keyframes "join_us" {
  50% {
    transform: translateX(100%);
    -ms-transform: translateX(100%);
    /* IE 9 */
    -moz-transform: translateX(100%);
    /* Firefox */
    -webkit-transform: translateX(100%);
    /* Safari 和 Chrome */
    -o-transform: translateX(100%);
    /* Opera */
  }
  100% {
    transform: translateX(100%);
    -ms-transform: translateX(100%);
    /* IE 9 */
    -moz-transform: translateX(100%);
    /* Firefox */
    -webkit-transform: translateX(100%);
    /* Safari 和 Chrome */
    -o-transform: translateX(100%);
    /* Opera */
  }
}
@-ms-keyframes "join_us" {
  50% {
    transform: translateX(100%);
    -ms-transform: translateX(100%);
    /* IE 9 */
    -moz-transform: translateX(100%);
    /* Firefox */
    -webkit-transform: translateX(100%);
    /* Safari 和 Chrome */
    -o-transform: translateX(100%);
    /* Opera */
  }
  100% {
    transform: translateX(100%);
    -ms-transform: translateX(100%);
    /* IE 9 */
    -moz-transform: translateX(100%);
    /* Firefox */
    -webkit-transform: translateX(100%);
    /* Safari 和 Chrome */
    -o-transform: translateX(100%);
    /* Opera */
  }
}
@-o-keyframes "join_us" {
  50% {
    transform: translateX(100%);
    -ms-transform: translateX(100%);
    /* IE 9 */
    -moz-transform: translateX(100%);
    /* Firefox */
    -webkit-transform: translateX(100%);
    /* Safari 和 Chrome */
    -o-transform: translateX(100%);
    /* Opera */
  }
  100% {
    transform: translateX(100%);
    -ms-transform: translateX(100%);
    /* IE 9 */
    -moz-transform: translateX(100%);
    /* Firefox */
    -webkit-transform: translateX(100%);
    /* Safari 和 Chrome */
    -o-transform: translateX(100%);
    /* Opera */
  }
}
@keyframes "join_us" {
  50% {
    transform: translateX(100%);
    -ms-transform: translateX(100%);
    /* IE 9 */
    -moz-transform: translateX(100%);
    /* Firefox */
    -webkit-transform: translateX(100%);
    /* Safari 和 Chrome */
    -o-transform: translateX(100%);
    /* Opera */
  }
  100% {
    transform: translateX(100%);
    -ms-transform: translateX(100%);
    /* IE 9 */
    -moz-transform: translateX(100%);
    /* Firefox */
    -webkit-transform: translateX(100%);
    /* Safari 和 Chrome */
    -o-transform: translateX(100%);
    /* Opera */
  }
}
@-webkit-keyframes "news" {
  50% {
    transform: translateX(100%);
    -ms-transform: translateX(100%);
    /* IE 9 */
    -moz-transform: translateX(100%);
    /* Firefox */
    -webkit-transform: translateX(100%);
    /* Safari 和 Chrome */
    -o-transform: translateX(100%);
    /* Opera */
  }
  100% {
    transform: translateX(100%);
    -ms-transform: translateX(100%);
    /* IE 9 */
    -moz-transform: translateX(100%);
    /* Firefox */
    -webkit-transform: translateX(100%);
    /* Safari 和 Chrome */
    -o-transform: translateX(100%);
    /* Opera */
  }
}
@-moz-keyframes "news" {
  50% {
    transform: translateX(100%);
    -ms-transform: translateX(100%);
    /* IE 9 */
    -moz-transform: translateX(100%);
    /* Firefox */
    -webkit-transform: translateX(100%);
    /* Safari 和 Chrome */
    -o-transform: translateX(100%);
    /* Opera */
  }
  100% {
    transform: translateX(100%);
    -ms-transform: translateX(100%);
    /* IE 9 */
    -moz-transform: translateX(100%);
    /* Firefox */
    -webkit-transform: translateX(100%);
    /* Safari 和 Chrome */
    -o-transform: translateX(100%);
    /* Opera */
  }
}
@-ms-keyframes "news" {
  50% {
    transform: translateX(100%);
    -ms-transform: translateX(100%);
    /* IE 9 */
    -moz-transform: translateX(100%);
    /* Firefox */
    -webkit-transform: translateX(100%);
    /* Safari 和 Chrome */
    -o-transform: translateX(100%);
    /* Opera */
  }
  100% {
    transform: translateX(100%);
    -ms-transform: translateX(100%);
    /* IE 9 */
    -moz-transform: translateX(100%);
    /* Firefox */
    -webkit-transform: translateX(100%);
    /* Safari 和 Chrome */
    -o-transform: translateX(100%);
    /* Opera */
  }
}
@-o-keyframes "news" {
  50% {
    transform: translateX(100%);
    -ms-transform: translateX(100%);
    /* IE 9 */
    -moz-transform: translateX(100%);
    /* Firefox */
    -webkit-transform: translateX(100%);
    /* Safari 和 Chrome */
    -o-transform: translateX(100%);
    /* Opera */
  }
  100% {
    transform: translateX(100%);
    -ms-transform: translateX(100%);
    /* IE 9 */
    -moz-transform: translateX(100%);
    /* Firefox */
    -webkit-transform: translateX(100%);
    /* Safari 和 Chrome */
    -o-transform: translateX(100%);
    /* Opera */
  }
}
@keyframes "news" {
  50% {
    transform: translateX(100%);
    -ms-transform: translateX(100%);
    /* IE 9 */
    -moz-transform: translateX(100%);
    /* Firefox */
    -webkit-transform: translateX(100%);
    /* Safari 和 Chrome */
    -o-transform: translateX(100%);
    /* Opera */
  }
  100% {
    transform: translateX(100%);
    -ms-transform: translateX(100%);
    /* IE 9 */
    -moz-transform: translateX(100%);
    /* Firefox */
    -webkit-transform: translateX(100%);
    /* Safari 和 Chrome */
    -o-transform: translateX(100%);
    /* Opera */
  }
}
@-webkit-keyframes "index" {
  50% {
    transform: translateX(100%);
    -ms-transform: translateX(100%);
    /* IE 9 */
    -moz-transform: translateX(100%);
    /* Firefox */
    -webkit-transform: translateX(100%);
    /* Safari 和 Chrome */
    -o-transform: translateX(100%);
    /* Opera */
  }
  100% {
    transform: translateX(100%);
    -ms-transform: translateX(100%);
    /* IE 9 */
    -moz-transform: translateX(100%);
    /* Firefox */
    -webkit-transform: translateX(100%);
    /* Safari 和 Chrome */
    -o-transform: translateX(100%);
    /* Opera */
  }
}
@-moz-keyframes "index" {
  50% {
    transform: translateX(100%);
    -ms-transform: translateX(100%);
    /* IE 9 */
    -moz-transform: translateX(100%);
    /* Firefox */
    -webkit-transform: translateX(100%);
    /* Safari 和 Chrome */
    -o-transform: translateX(100%);
    /* Opera */
  }
  100% {
    transform: translateX(100%);
    -ms-transform: translateX(100%);
    /* IE 9 */
    -moz-transform: translateX(100%);
    /* Firefox */
    -webkit-transform: translateX(100%);
    /* Safari 和 Chrome */
    -o-transform: translateX(100%);
    /* Opera */
  }
}
@-ms-keyframes "index" {
  50% {
    transform: translateX(100%);
    -ms-transform: translateX(100%);
    /* IE 9 */
    -moz-transform: translateX(100%);
    /* Firefox */
    -webkit-transform: translateX(100%);
    /* Safari 和 Chrome */
    -o-transform: translateX(100%);
    /* Opera */
  }
  100% {
    transform: translateX(100%);
    -ms-transform: translateX(100%);
    /* IE 9 */
    -moz-transform: translateX(100%);
    /* Firefox */
    -webkit-transform: translateX(100%);
    /* Safari 和 Chrome */
    -o-transform: translateX(100%);
    /* Opera */
  }
}
@-o-keyframes "index" {
  50% {
    transform: translateX(100%);
    -ms-transform: translateX(100%);
    /* IE 9 */
    -moz-transform: translateX(100%);
    /* Firefox */
    -webkit-transform: translateX(100%);
    /* Safari 和 Chrome */
    -o-transform: translateX(100%);
    /* Opera */
  }
  100% {
    transform: translateX(100%);
    -ms-transform: translateX(100%);
    /* IE 9 */
    -moz-transform: translateX(100%);
    /* Firefox */
    -webkit-transform: translateX(100%);
    /* Safari 和 Chrome */
    -o-transform: translateX(100%);
    /* Opera */
  }
}
@keyframes "index" {
  50% {
    transform: translateX(100%);
    -ms-transform: translateX(100%);
    /* IE 9 */
    -moz-transform: translateX(100%);
    /* Firefox */
    -webkit-transform: translateX(100%);
    /* Safari 和 Chrome */
    -o-transform: translateX(100%);
    /* Opera */
  }
  100% {
    transform: translateX(100%);
    -ms-transform: translateX(100%);
    /* IE 9 */
    -moz-transform: translateX(100%);
    /* Firefox */
    -webkit-transform: translateX(100%);
    /* Safari 和 Chrome */
    -o-transform: translateX(100%);
    /* Opera */
  }
}
.bor.index {
  -webkit-animation: index 2s;
  -moz-animation: index 2s;
  -ms-animation: index 2s;
  -o-animation: index 2s;
  animation: index 2s;
}
.bor.join_us {
  -webkit-animation: join_us 2s;
  -moz-animation: join_us 2s;
  -ms-animation: join_us 2s;
  -o-animation: join_us 2s;
  animation: join_us 2s;
}
.bor.news {
  -webkit-animation: news 2s;
  -moz-animation: news 2s;
  -ms-animation: news 2s;
  -o-animation: news 2s;
  animation: news 2s;
}
.bor.about {
  -webkit-animation: about 2s;
  -moz-animation: about 2s;
  -ms-animation: about 2s;
  -o-animation: about 2s;
  animation: about 2s;
}
