@charset "UTF-8";
@media screen and (max-width: 640px) {
  .hide-sm {
    display: none;
  }
}
@media screen and (min-width: 641px) and (max-width: 1024px) {
  .hide-md {
    display: none;
  }
}
@media screen and (min-width: 1025px) {
  .hide-lg {
    display: none;
  }
}
@media screen and (max-width: 640px) {
  .show-sm {
    display: block;
  }
}
@media screen and (min-width: 641px) and (max-width: 1024px) {
  .show-md {
    display: block;
  }
}
@media screen and (min-width: 1025px) {
  .show-lg {
    display: block;
  }
}
.clearfix:before,
.clearfix:after {
  content: '';
  display: table;
}
.clearfix:after {
  clear: both;
  overflow: hidden;
}
.clearfix {
  zoom: 1;
}
.clear {
  clear: both;
  display: block;
  font-size: 0;
  height: 0;
  line-height: 0;
  overflow: hidden;
}
.hide {
  display: none;
}
.block {
  display: block;
}
.fl,
.fr {
  display: inline;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.mainbox {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 980px;
}
.hp:hover {
  cursor: pointer;
}
@media screen and (max-width: 640px) {
  body {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
}
@-webkit-keyframes about {
  50% {
    left: 25%;
  }
  100% {
    left: 25%;
  }
}
@-moz-keyframes about {
  50% {
    left: 25%;
  }
  100% {
    left: 25%;
  }
}
@-ms-keyframes about {
  50% {
    left: 25%;
  }
  100% {
    left: 25%;
  }
}
@-o-keyframes about {
  50% {
    left: 25%;
  }
  100% {
    left: 25%;
  }
}
@keyframes about {
  50% {
    left: 25%;
  }
  100% {
    left: 25%;
  }
}
@-webkit-keyframes hr {
  50% {
    left: 75%;
  }
  100% {
    left: 75%;
  }
}
@-moz-keyframes hr {
  50% {
    left: 75%;
  }
  100% {
    left: 75%;
  }
}
@-ms-keyframes hr {
  50% {
    left: 75%;
  }
  100% {
    left: 75%;
  }
}
@-o-keyframes hr {
  50% {
    left: 75%;
  }
  100% {
    left: 75%;
  }
}
@keyframes hr {
  50% {
    left: 75%;
  }
  100% {
    left: 75%;
  }
}
@-webkit-keyframes news {
  50% {
    left: 50%;
  }
  100% {
    left: 50%;
  }
}
@-moz-keyframes news {
  50% {
    left: 50%;
  }
  100% {
    left: 50%;
  }
}
@-ms-keyframes news {
  50% {
    left: 50%;
  }
  100% {
    left: 50%;
  }
}
@-o-keyframes news {
  50% {
    left: 50%;
  }
  100% {
    left: 50%;
  }
}
@keyframes news {
  50% {
    left: 50%;
  }
  100% {
    left: 50%;
  }
}
@-webkit-keyframes index {
  50% {
    left: 0%;
  }
  100% {
    left: 0%;
  }
}
@-moz-keyframes index {
  50% {
    left: 0%;
  }
  100% {
    left: 0%;
  }
}
@-ms-keyframes index {
  50% {
    left: 0%;
  }
  100% {
    left: 0%;
  }
}
@-o-keyframes index {
  50% {
    left: 0%;
  }
  100% {
    left: 0%;
  }
}
@keyframes index {
  50% {
    left: 0%;
  }
  100% {
    left: 0%;
  }
}
.bor.index {
  -webkit-animation: index 0.6s;
  -moz-animation: index 0.6s;
  -ms-animation: index 0.6s;
  -o-animation: index 0.6s;
  animation: index 0.6s;
}
.bor.hr {
  -webkit-animation: hr 0.6s;
  -moz-animation: hr 0.6s;
  -ms-animation: hr 0.6s;
  -o-animation: hr 0.6s;
  animation: hr 0.6s;
}
.bor.news {
  -webkit-animation: news 0.6s;
  -moz-animation: news 0.6s;
  -ms-animation: news 0.6s;
  -o-animation: news 0.6s;
  animation: news 0.6s;
}
.bor.about {
  -webkit-animation: about 0.6s;
  -moz-animation: about 0.6s;
  -ms-animation: about 0.6s;
  -o-animation: about 0.6s;
  animation: about 0.6s;
}
@media screen and (max-width: 640px) {
  .path {
    display: none;
  }
}
a .title {
  display: inline-block;
}
.bottomline {
  position: relative;
  content: '';
  display: block;
  height: 2px;
  background-color: #1e439a;
  margin-right: .8rem;
  margin-bottom: 16px;
  margin-top: -10px;
}
.footer1 {
  position: absolute;
  width: 100%;
  background-color: #191919;
  bottom: 0;
}
.footer1 .copyright {
  padding: 10px 0;
  line-height: 1.5;
  color: #cacaca;
  font-size: 12px;
  text-align: center;
}
.header {
  display: block;
  position: absolute;
  width: 100%;
}
@media screen and (max-width: 640px) {
  .header {
    height: 0.85rem;
  }
}
@media screen and (min-width: 641px) {
  .header {
    height: 0.7rem;
  }
}
@media screen and (min-width: 1025px) {
  .header {
    height: 0.7rem;
  }
}
.header.header-about {
  position: absolute;
}
.header .logo {
  height: 90%;
  max-height: 100%;
  width: auto;
  position: absolute;
  z-index: 5;
  top: 50%;
  left: 3%;
  -webkit-transform: translateY(-50%);
}
@media screen and (max-width: 640px) {
  .header .logo {
    display: none;
  }
}
.header .nav {
  zoom: 1;
  color: #fff;
  font-size: .14rem;
  position: absolute;
  z-index: 5;
  top: 50%;
  right: 3%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.header .nav .bor {
  display: block;
  position: absolute;
  width: 25%;
  height: 2px;
  background-color: #fe393d;
  bottom: 0;
  left: 0;
}
@media screen and (max-width: 640px) {
  .header .nav {
    width: 100%;
    position: relative;
    background-color: rgba(0, 0, 0, 0.3);
    top: 0;
    right: 0;
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -o-transform: translateY(0%);
    -ms-transform: translateY(0%);
    transform: translateY(0%);
  }
  .header .nav .bor {
    -webkit-transform: scaleX(0.7);
    -moz-transform: scaleX(0.7);
    -o-transform: scaleX(0.7);
    -ms-transform: scaleX(0.7);
    transform: scaleX(0.7);
  }
  .header .nav li {
    height: 45px !important;
    line-height: 45px !important;
  }
}
.header .nav li {
  text-align: center;
  position: relative;
  float: left;
  height: .58rem;
  line-height: .58rem;
  width: 1.2rem;
}
@media screen and (max-width: 640px) {
  .header .nav li {
    width: 25%;
  }
}
.header .nav li.active {
  font-weight: bold;
}
.header .nav a {
  display: block;
  width: 100%;
}
.header .nav a:hover {
  color: #cacaca;
}
.footer {
  display: none;
}
@media screen and (max-width: 640px) {
  .footer {
    display: block;
    padding: .3rem 0;
  }
  .footer img {
    width: 35%;
    margin: auto auto;
  }
}
.top {
  display: block;
}
@media screen and (max-width: 640px) {
  .top {
    height: 1.6rem;
  }
}
@media screen and (min-width: 641px) {
  .top {
    height: 1.6rem;
  }
}
@media screen and (min-width: 1025px) {
  .top {
    height: 1.6rem;
  }
}
.intro .targetBox {
  margin: 40px auto;
  text-align: center;
  width: 58%;
}
.intro .targetBox p {
  color: #fe393d;
  font-size: .2rem;
  line-height: 1.5;
}
.intro hr {
  background-color: #c9c9c9;
  margin: auto;
  width: 90%;
}
.intro p {
  color: #555555;
  font-size: .14rem;
  line-height: 200%;
}
.intro > p {
  width: 90%;
  margin: 0 auto;
}
.job-box {
  box-shadow: 4px 4px 8px #d4d4d4;
  -o-box-shadow: 4px 4px 8px #d4d4d4;
  -mo-box-shadow: 4px 4px 8px #d4d4d4;
  -moz-box-shadow: 4px 4px 8px #d4d4d4;
  -webkit-box-shadow: 4px 4px 8px #d4d4d4;
  border-radius: 6px;
  -o-border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  position: relative;
  background-color: #fff;
  width: 90%;
  margin: auto;
}
.job-box .job-bar {
  font-size: .18rem;
  line-height: 2;
  width: 95%;
  margin: auto;
}
.job-box .job-bar ul {
  padding: 10px 0;
  zoom: 1;
  display: block;
  border-bottom: solid 2px #ddd;
}
.job-box .job-bar li {
  line-height: .2rem;
  color: #cacaca;
  padding: 0 .2rem;
  text-align: center;
  float: left;
}
.job-box .job-bar li:hover {
  cursor: pointer;
}
.job-box .job-bar li:not(:last-child) {
  border-right: solid 2px #ddd;
}
.job-box .job-bar li.active {
  color: #fe393d;
}
.job-box .job-bar li:not(.active):hover {
  color: #959595;
}
.job-box .job-list {
  width: 95%;
  margin: auto;
  margin-bottom: 10px;
}
.job-box .job-list .job {
  padding: 50px 0;
}
.job-box .job-list .job:not(:last-child) {
  border-bottom: solid 2px #ddd;
}
.job-box .job-list h2 {
  font-size: .22rem;
  line-height: 220%;
  display: inline-block;
  border-bottom: solid 4px #fe393d;
}
.job-box .job-list dt {
  font-weight: bold;
  font-size: .13rem;
  line-height: 1.8;
  margin-top: 22px;
}
.job-box .job-list dd {
  font-size: .13rem;
  line-height: 1.8;
  color: #555555;
}
@media screen and (max-width: 640px) {
  .job-box .job {
    padding: .2rem 0 !important;
  }
  .job-box ul {
    -webkit-flex-flow: row nowrap !important;
    flex-flow: row nowrap !important;
    -webkit-justify-content: center !important;
    justify-content: center !important;
    align-items: center !important;
    /* 设置弹性布局 */
    display: -webkit-box !important;
    /* android 2.1-3.0, ios 3.2-4.3 */
    display: -webkit-flex !important;
    /* Chrome 21+ */
    display: -ms-flexbox !important;
    /* WP IE 10 */
    display: flex !important;
    /* android 4.4 */
    zoom: 1;
  }
  .job-box ul li {
    float: none !important;
    /* 子元素自动占据剩余的空间 */
    -webkit-box-flex: 1 !important;
    /* android 2.1-3.0, ios 3.2-4.3 */
    -webkit-flex: 1 !important;
    /* Chrome 21+ */
    -ms-flex: 1 !important;
    /* WP IE 10 */
    flex: 1 !important;
    /* android 4.4 */
    padding: 0 !important;
  }
}
.header .nav {
  color: #555555;
}
.header .nav a:hover {
  color: #959595;
}
.header .nav {
  background-color: transparent;
}
.header .nav .bor {
  left: 75%;
}
.footer {
  display: none;
}
.culture {
  width: 90%;
  margin: 1px auto 0;
  padding: 50px 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 3px 3px #d4d4d4;
  -moz-box-shadow: 0 3px 3px #d4d4d4;
  box-shadow: 0 3px 3px #d4d4d4;
  background: url("../image/culture.jpg") 0 2px #ffffff no-repeat;
  -webkit-background-size: auto 100% ;
  background-size: auto 100%;
}
.culture .title {
  font-size: .3rem;
  line-height: 1.5;
  color: #555;
  width: 90%;
  margin: 0 auto;
}
.culture .title .rightArrow {
  display: inline-block;
  height: .3rem;
  width: .8rem;
  background: url(../image/arrow-r.png) center no-repeat;
  -webkit-background-size: .3rem;
  background-size: .3rem;
  vertical-align: middle;
  margin-top: -10px;
}
.culture p {
  width: 90%;
  margin: 0 auto;
}
@media screen and (max-width: 640px) {
  .copyright {
    font-size: 10px !important;
  }
  .footer {
    display: block;
  }
  .culture {
    background: url("../image/culture-small.jpg") 0 2px #ffffff no-repeat;
    -webkit-background-size: auto 100% ;
    background-size: auto 100%;
  }
  .targetBox {
    width: 90% !important;
    margin: 20px auto 0!important;
  }
  .targetBox .target {
    font-size: .2rem !important;
  }
}
