@charset "UTF-8";
@media screen and (max-width: 640px) {
  .hide-sm {
    display: none;
  }
}
@media screen and (min-width: 641px) and (max-width: 1024px) {
  .hide-md {
    display: none;
  }
}
@media screen and (min-width: 1025px) {
  .hide-lg {
    display: none;
  }
}
@media screen and (max-width: 640px) {
  .show-sm {
    display: block;
  }
}
@media screen and (min-width: 641px) and (max-width: 1024px) {
  .show-md {
    display: block;
  }
}
@media screen and (min-width: 1025px) {
  .show-lg {
    display: block;
  }
}
.clearfix:before,
.clearfix:after {
  content: '';
  display: table;
}
.clearfix:after {
  clear: both;
  overflow: hidden;
}
.clearfix {
  zoom: 1;
}
.clear {
  clear: both;
  display: block;
  font-size: 0;
  height: 0;
  line-height: 0;
  overflow: hidden;
}
.hide {
  display: none;
}
.block {
  display: block;
}
.fl,
.fr {
  display: inline;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.mainbox {
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  max-width: 980px;
}
.hp:hover {
  cursor: pointer;
}
@media screen and (max-width: 640px) {
  body {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
}
@-webkit-keyframes about {
  50% {
    left: 25%;
  }
  100% {
    left: 25%;
  }
}
@-moz-keyframes about {
  50% {
    left: 25%;
  }
  100% {
    left: 25%;
  }
}
@-ms-keyframes about {
  50% {
    left: 25%;
  }
  100% {
    left: 25%;
  }
}
@-o-keyframes about {
  50% {
    left: 25%;
  }
  100% {
    left: 25%;
  }
}
@keyframes about {
  50% {
    left: 25%;
  }
  100% {
    left: 25%;
  }
}
@-webkit-keyframes hr {
  50% {
    left: 75%;
  }
  100% {
    left: 75%;
  }
}
@-moz-keyframes hr {
  50% {
    left: 75%;
  }
  100% {
    left: 75%;
  }
}
@-ms-keyframes hr {
  50% {
    left: 75%;
  }
  100% {
    left: 75%;
  }
}
@-o-keyframes hr {
  50% {
    left: 75%;
  }
  100% {
    left: 75%;
  }
}
@keyframes hr {
  50% {
    left: 75%;
  }
  100% {
    left: 75%;
  }
}
@-webkit-keyframes news {
  50% {
    left: 50%;
  }
  100% {
    left: 50%;
  }
}
@-moz-keyframes news {
  50% {
    left: 50%;
  }
  100% {
    left: 50%;
  }
}
@-ms-keyframes news {
  50% {
    left: 50%;
  }
  100% {
    left: 50%;
  }
}
@-o-keyframes news {
  50% {
    left: 50%;
  }
  100% {
    left: 50%;
  }
}
@keyframes news {
  50% {
    left: 50%;
  }
  100% {
    left: 50%;
  }
}
@-webkit-keyframes index {
  50% {
    left: 0%;
  }
  100% {
    left: 0%;
  }
}
@-moz-keyframes index {
  50% {
    left: 0%;
  }
  100% {
    left: 0%;
  }
}
@-ms-keyframes index {
  50% {
    left: 0%;
  }
  100% {
    left: 0%;
  }
}
@-o-keyframes index {
  50% {
    left: 0%;
  }
  100% {
    left: 0%;
  }
}
@keyframes index {
  50% {
    left: 0%;
  }
  100% {
    left: 0%;
  }
}
.bor.index {
  -webkit-animation: index 0.6s;
  -moz-animation: index 0.6s;
  -ms-animation: index 0.6s;
  -o-animation: index 0.6s;
  animation: index 0.6s;
}
.bor.hr {
  -webkit-animation: hr 0.6s;
  -moz-animation: hr 0.6s;
  -ms-animation: hr 0.6s;
  -o-animation: hr 0.6s;
  animation: hr 0.6s;
}
.bor.news {
  -webkit-animation: news 0.6s;
  -moz-animation: news 0.6s;
  -ms-animation: news 0.6s;
  -o-animation: news 0.6s;
  animation: news 0.6s;
}
.bor.about {
  -webkit-animation: about 0.6s;
  -moz-animation: about 0.6s;
  -ms-animation: about 0.6s;
  -o-animation: about 0.6s;
  animation: about 0.6s;
}
@media screen and (max-width: 640px) {
  .path {
    display: none;
  }
}
.footer1 {
  position: absolute;
  width: 100%;
  background-color: #191919;
  bottom: 0;
}
.footer1 .copyright {
  padding: 10px 0;
  line-height: 1.5;
  color: #cacaca;
  font-size: 12px;
  text-align: center;
}
.intro {
  padding: .8rem .65rem;
  border-radius: 6px;
  -o-border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  box-shadow: 4px 4px 8px #d4d4d4;
  -o-box-shadow: 4px 4px 8px #d4d4d4;
  -mo-box-shadow: 4px 4px 8px #d4d4d4;
  -moz-box-shadow: 4px 4px 8px #d4d4d4;
  -webkit-box-shadow: 4px 4px 8px #d4d4d4;
  margin-bottom: 10px;
  background-color: #fff;
}
.intro.culture {
  background: url("../image/culture.jpg") 0 2px #ffffff no-repeat;
  -webkit-background-size: auto 100%;
  background-size: auto 100%;
}
.intro.notptop {
  padding-top: 0;
}
.intro.notp {
  padding: 0;
}
.intro .title1 {
  margin: 0 0 .35rem 0;
  position: relative;
  width: auto;
  display: inline-block;
  font-size: .44rem;
  color: #555;
}
.intro .title1 .rightArrow {
  position: absolute;
  left: 100%;
  top: 0;
  display: block;
  height: .6rem;
  width: .8rem;
  background: url(../image/arrow-r.png) center no-repeat;
  -webkit-background-size: .6rem;
  background-size: .6rem;
  vertical-align: middle;
}
.intro .title1.link {
  color: #1e439a !important;
  border-bottom: solid 1px #1e439a;
}
.intro .bigpic {
  margin: 1.7rem auto 1.4rem auto;
  width: 80%;
}
.intro p {
  color: #555555;
  font-size: .24rem;
  line-height: .44rem;
}
.intro p .bigpic {
  margin: .35rem auto .8rem auto;
  width: 100%;
}
@media screen and (max-width: 640px) {
  .intro {
    padding: .6rem .44rem;
    position: relative;
    margin: 25px auto;
  }
  .intro .title1 {
    position: relative;
    width: auto;
    display: inline-block;
    font-size: .44rem;
    color: #555;
  }
  .intro .title1 .rightArrow {
    position: absolute;
    left: 100%;
    top: 0;
    display: block;
    height: .6rem;
    width: .8rem;
    background: url(../image/arrow-r.png) center no-repeat;
    -webkit-background-size: .6rem;
    background-size: .6rem;
    vertical-align: middle;
  }
  .intro .title1.link {
    color: #1e439a !important;
    border-bottom: solid 1px #1e439a;
  }
  .intro .bigpic {
    margin: 1rem auto 1rem auto;
  }
  .intro p .bigpic {
    margin: .4rem auto;
  }
  .intro .aboutBox h1 {
    font-size: .24rem;
  }
  .intro .aboutBox small {
    font-size: .16rem;
  }
  .intro .aboutBox div {
    font-size: .2rem;
  }
}
.top {
  display: block;
}
@media screen and (max-width: 640px) {
  .top {
    height: 0.6rem;
  }
}
@media screen and (min-width: 641px) {
  .top {
    height: 1.6rem;
  }
}
@media screen and (min-width: 1025px) {
  .top {
    height: 1.6rem;
  }
}
.header {
  display: block;
  position: absolute;
  width: 100%;
}
@media screen and (max-width: 640px) {
  .header {
    height: 0.85rem;
  }
}
@media screen and (min-width: 641px) {
  .header {
    height: 0.7rem;
  }
}
@media screen and (min-width: 1025px) {
  .header {
    height: 0.7rem;
  }
}
.header.header-about {
  position: absolute;
}
.header .logo {
  height: 90%;
  max-height: 100%;
  width: auto;
  position: absolute;
  z-index: 5;
  top: 50%;
  left: 3%;
  -webkit-transform: translateY(-50%);
}
@media screen and (max-width: 640px) {
  .header .logo {
    display: none;
  }
}
.header .nav {
  zoom: 1;
  color: #fff;
  font-size: .2rem;
  position: absolute;
  z-index: 5;
  top: 50%;
  right: 3%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.header .nav .bor {
  display: block;
  position: absolute;
  width: 25%;
  height: 2px;
  background-color: #fe393d;
  bottom: 0;
  left: 0;
}
.header .nav li {
  text-align: center;
  position: relative;
  float: left;
  height: .58rem;
  line-height: .58rem;
  width: 1.2rem;
}
@media screen and (max-width: 640px) {
  .header .nav li {
    width: 25%;
  }
}
.header .nav li.active {
  font-weight: bold;
}
.header .nav a {
  display: block;
  width: 100%;
}
.header .nav a:hover {
  color: #cacaca;
}
@media screen and (max-width: 640px) {
  .header .nav {
    font-size: .24rem;
    width: 100%;
    position: relative;
    background-color: rgba(0, 0, 0, 0.3);
    top: 0;
    right: 0;
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -o-transform: translateY(0%);
    -ms-transform: translateY(0%);
    transform: translateY(0%);
  }
  .header .nav .bor {
    -webkit-transform: scaleX(0.7);
    -moz-transform: scaleX(0.7);
    -o-transform: scaleX(0.7);
    -ms-transform: scaleX(0.7);
    transform: scaleX(0.7);
  }
  .header .nav li {
    height: 45px !important;
    line-height: 45px !important;
  }
}
.footer {
  display: none;
}
@media screen and (max-width: 640px) {
  .footer {
    display: block;
    padding: .3rem 0;
  }
  .footer img {
    width: 35%;
    margin: auto auto;
  }
}
@media screen and (max-width: 640px) {
  .copyright {
    font-size: .16rem !important;
  }
}
* {
  font-family: 'PingFang SC', 'STHeiti', 'microsoft yahei', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  list-style: none;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  font-size: 100px;
}
@media screen and (max-width: 767px) {
  html {
    font-size: 50px;
  }
}
@media screen and (min-width: 366px) and (max-width: 375px) {
  html {
    font-size: 50px;
  }
}
@media screen and (min-width: 356px) and (max-width: 365px) {
  html {
    font-size: 49px;
  }
}
@media screen and (min-width: 346px) and (max-width: 355px) {
  html {
    font-size: 47px;
  }
}
@media screen and (min-width: 336px) and (max-width: 345px) {
  html {
    font-size: 46px;
  }
}
@media screen and (min-width: 326px) and (max-width: 335px) {
  html {
    font-size: 45px;
  }
}
@media screen and (min-width: 316px) and (max-width: 325px) {
  html {
    font-size: 43px;
  }
}
@media screen and (min-width: 306px) and (max-width: 315px) {
  html {
    font-size: 42px;
  }
}
@media screen and (min-width: 296px) and (max-width: 305px) {
  html {
    font-size: 41px;
  }
}
@media screen and (min-width: 286px) and (max-width: 295px) {
  html {
    font-size: 39px;
  }
}
@media screen and (min-width: 276px) and (max-width: 285px) {
  html {
    font-size: 38px;
  }
}
@media screen and (min-width: 266px) and (max-width: 275px) {
  html {
    font-size: 37px;
  }
}
@media screen and (min-width: 256px) and (max-width: 265px) {
  html {
    font-size: 35px;
  }
}
@media screen and (min-width: 246px) and (max-width: 255px) {
  html {
    font-size: 34px;
  }
}
@media screen and (min-width: 236px) and (max-width: 245px) {
  html {
    font-size: 33px;
  }
}
@media screen and (min-width: 226px) and (max-width: 235px) {
  html {
    font-size: 31px;
  }
}
@media screen and (min-width: 216px) and (max-width: 225px) {
  html {
    font-size: 30px;
  }
}
@media screen and (max-width: 320px) {
  body {
    font-size: 14px;
  }
}
@media screen and (min-width: 321px) and (max-width: 413px) {
  body {
    font-size: 16px;
  }
}
@media screen and (min-width: 414px) and (max-width: 639px) {
  body {
    font-size: 17px;
  }
}
@media screen and (min-width: 640px) {
  body {
    font-size: 18px;
  }
}
body,
html {
  width: 100%;
  overflow-x: hidden;
}
html {
  height: 100%;
}
body {
  min-height: 100%;
}
a:link,
a:visited,
a:active {
  color: inherit;
  outline: 0;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
img {
  width: 100%;
  clear: both;
  display: block;
  border: 0;
  vertical-align: top;
  -ms-interpolation-mode: bicubic;
}
ol,
ul {
  list-style-type: none;
  list-style-image: none;
}
body {
  background-color: #f0f0f0;
  overflow-x: hidden;
  position: relative;
  padding-bottom: .74rem;
}
@media screen and (max-width: 640px) {
  body {
    padding-bottom: 1.48rem;
  }
}
.intro .targetBox {
  font-weight: bold;
  margin: 40px auto;
  text-align: center;
  width: 70%;
}
.intro .targetBox p {
  color: #fe393d;
  font-size: .28rem;
  line-height: 1.5;
}
.intro hr {
  background-color: #c9c9c9;
  margin: auto;
  width: 90%;
}
.job-box {
  position: relative;
  background-color: #fff;
  margin: auto;
}
.job-box .job-bar {
  font-size: .18rem;
  line-height: 2;
  margin: auto;
}
.job-box .job-bar ul {
  padding: 10px 0;
  zoom: 1;
  display: block;
  border-bottom: solid 2px #ddd;
}
.job-box .job-bar li {
  line-height: .2rem;
  color: #cacaca;
  padding: 0 .2rem;
  text-align: center;
  float: left;
}
.job-box .job-bar li:hover {
  cursor: pointer;
}
.job-box .job-bar li:not(:last-child) {
  border-right: solid 2px #ddd;
}
.job-box .job-bar li.active {
  color: #fe393d;
}
.job-box .job-bar li:not(.active):hover {
  color: #959595;
}
.job-box .job-list {
  margin: auto;
  margin-bottom: 10px;
}
.job-box .job-list .job {
  padding: 50px 0;
}
.job-box .job-list .job:not(:last-child) {
  border-bottom: solid 2px #ddd;
}
.job-box .job-list h2 {
  font-size: .3rem;
  line-height: 220%;
  display: inline-block;
  border-bottom: solid 4px #fe393d;
}
.job-box .job-list dt {
  font-weight: bold;
  font-size: .18rem;
  line-height: 1.8;
  margin-top: 22px;
}
.job-box .job-list dd {
  font-size: .18rem;
  line-height: 1.8;
  color: #555555;
}
@media screen and (max-width: 640px) {
  .job-box .job-list {
    margin: auto;
    margin-bottom: 10px;
  }
  .job-box .job-list .job {
    padding: 50px 0;
  }
  .job-box .job-list .job:not(:last-child) {
    border-bottom: solid 2px #ddd;
  }
  .job-box .job-list h2 {
    font-size: .3rem;
    line-height: 220%;
    display: inline-block;
    border-bottom: solid 4px #fe393d;
  }
  .job-box .job-list dt {
    font-weight: bold;
    font-size: .28rem;
    line-height: 1.8;
    margin-top: 22px;
  }
  .job-box .job-list dd {
    font-size: .28rem;
    line-height: 1.8;
    color: #555555;
  }
  .job-box .job {
    padding: .2rem 0 !important;
  }
  .job-box ul {
    /* 设置弹性布局 */
    /* android 2.1-3.0, ios 3.2-4.3 */
    /* Chrome 21+ */
    /* WP IE 10 */
    /* android 4.4 */
    -webkit-flex-flow: row nowrap !important;
    flex-flow: row nowrap !important;
    -webkit-justify-content: center !important;
    justify-content: center !important;
    align-items: center !important;
    /* 设置弹性布局 */
    display: -webkit-box !important;
    /* android 2.1-3.0, ios 3.2-4.3 */
    display: -webkit-flex !important;
    /* Chrome 21+ */
    display: -ms-flexbox !important;
    /* WP IE 10 */
    display: flex !important;
    /* android 4.4 */
    zoom: 1;
  }
  .job-box ul li {
    float: none !important;
    /* 子元素自动占据剩余的空间 */
    /* android 2.1-3.0, ios 3.2-4.3 */
    /* Chrome 21+ */
    /* WP IE 10 */
    /* android 4.4 */
    /* 子元素自动占据剩余的空间 */
    -webkit-box-flex: 1 !important;
    /* android 2.1-3.0, ios 3.2-4.3 */
    -webkit-flex: 1 !important;
    /* Chrome 21+ */
    -ms-flex: 1 !important;
    /* WP IE 10 */
    flex: 1 !important;
    /* android 4.4 */
    padding: 0 !important;
  }
}
.header .nav {
  color: #555555;
}
.header .nav a:hover {
  color: #959595;
}
.header .nav {
  background-color: transparent;
}
.header .nav .bor {
  left: 75%;
}
.footer {
  display: none;
}
@media screen and (max-width: 640px) {
  .copyright {
    font-size: 10px !important;
  }
  .footer {
    display: block;
  }
  .targetBox {
    width: 90% !important;
    margin: 20px auto 0 !important;
  }
  .targetBox .target {
    font-size: .2rem !important;
  }
}
