@charset "UTF-8";
.clearfix:before {
  content: "";
  clear: both;
}
.clearfix:after {
  content: "";
  clear: both;
}
body {
  background-color: #f0f0f0;
}
header {
  display: block;
  position: absolute;
  width: 100%;
  height: 70px;
}
header .logo {
  height: 90%;
  max-height: 100%;
  width: auto;
  position: absolute;
  z-index: 5;
  top: 50%;
  left: 3%;
  -webkit-transform: translateY(-50%);
}
header nav {
  color: #fff;
  font-size: 1.5rem;
  position: absolute;
  z-index: 5;
  top: 50%;
  right: 3%;
  -webkit-transform: translateY(-50%);
}
header nav .bor {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #fe393d;
  bottom: 0;
  left: 0;
}
header nav li {
  text-align: center;
  float: left;
  height: 2.5rem;
  line-height: 2.5rem;
  width: 7rem;
}
header nav li.active {
  font-weight: bold;
}
header nav a {
  display: block;
  width: 100%;
  padding: 0 1rem;
}
header nav a:hover {
  color: #cacaca;
}
.bigpic {
  position: relative;
}
.bigpic .layer1 {
  position: absolute;
  z-index: 1;
  top: 0;
  width: 100%;
  height: 80%;
  background-color: rgba(0, 0, 0, 0.2);
}
.bigpic .layer2 {
  position: absolute;
  z-index: 1;
  bottom: 0;
  width: 100%;
  height: 20%;
  background-color: rgba(255, 255, 255, 0.5);
}
.bigpic .pic2 {
  left: 15%;
  height: 50%;
  width: auto;
  position: absolute;
  z-index: 5;
  top: 47%;
  -webkit-transform: translateY(-50%);
}
.intro {
  position: relative;
  padding: 5.7rem 0;
  background-color: #fff;
}
.intro ul {
  width: 100%;
}
.intro li {
  margin: 1rem 0;
  position: relative;
  float: left;
  width: 25%;
}
@media (max-width: 767px) {
  .intro li {
    width: 100%;
  }
}
@media (max-width: 991px) {
  .intro li {
    width: 50%;
  }
}
.intro img {
  position: absolute;
  left: 40%;
  margin-left: -0.3rem;
  height: 100%;
  width: auto;
  transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  /* IE 9 */
  -moz-transform: translateX(-100%);
  /* Firefox */
  -webkit-transform: translateX(-100%);
  /* Safari 和 Chrome */
  -o-transform: translateX(-100%);
  /* Opera */
}
.intro h3,
.intro p {
  margin-left: 40%;
}
.intro h3 {
  font-size: 1.9rem;
  margin-bottom: 1rem;
}
.intro p {
  font-size: 1.2rem;
  margin-top: .5rem;
}
