@charset "UTF-8";
.clearfix::after {
  display: table;
  clear: both;
  content: "";
}
body {
  background-color: #f0f0f0;
  overflow-x: hidden;
}
html {
  font-size: 45%;
}
.mainbox {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 980px;
}
.hp:hover {
  cursor: pointer;
}
@media screen and (max-width: 640px) {
  body {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
}
@-webkit-keyframes about {
  50% {
    left: 25%;
  }
  100% {
    left: 25%;
  }
}
@-moz-keyframes about {
  50% {
    left: 25%;
  }
  100% {
    left: 25%;
  }
}
@-ms-keyframes about {
  50% {
    left: 25%;
  }
  100% {
    left: 25%;
  }
}
@-o-keyframes about {
  50% {
    left: 25%;
  }
  100% {
    left: 25%;
  }
}
@keyframes about {
  50% {
    left: 25%;
  }
  100% {
    left: 25%;
  }
}
@-webkit-keyframes join_us {
  50% {
    left: 75%;
  }
  100% {
    left: 75%;
  }
}
@-moz-keyframes join_us {
  50% {
    left: 75%;
  }
  100% {
    left: 75%;
  }
}
@-ms-keyframes join_us {
  50% {
    left: 75%;
  }
  100% {
    left: 75%;
  }
}
@-o-keyframes join_us {
  50% {
    left: 75%;
  }
  100% {
    left: 75%;
  }
}
@keyframes join_us {
  50% {
    left: 75%;
  }
  100% {
    left: 75%;
  }
}
@-webkit-keyframes news {
  50% {
    left: 50%;
  }
  100% {
    left: 50%;
  }
}
@-moz-keyframes news {
  50% {
    left: 50%;
  }
  100% {
    left: 50%;
  }
}
@-ms-keyframes news {
  50% {
    left: 50%;
  }
  100% {
    left: 50%;
  }
}
@-o-keyframes news {
  50% {
    left: 50%;
  }
  100% {
    left: 50%;
  }
}
@keyframes news {
  50% {
    left: 50%;
  }
  100% {
    left: 50%;
  }
}
@-webkit-keyframes index {
  50% {
    left: 0%;
  }
  100% {
    left: 0%;
  }
}
@-moz-keyframes index {
  50% {
    left: 0%;
  }
  100% {
    left: 0%;
  }
}
@-ms-keyframes index {
  50% {
    left: 0%;
  }
  100% {
    left: 0%;
  }
}
@-o-keyframes index {
  50% {
    left: 0%;
  }
  100% {
    left: 0%;
  }
}
@keyframes index {
  50% {
    left: 0%;
  }
  100% {
    left: 0%;
  }
}
.bor.index {
  -webkit-animation: index 0.6s;
  -moz-animation: index 0.6s;
  -ms-animation: index 0.6s;
  -o-animation: index 0.6s;
  animation: index 0.6s;
}
.bor.join_us {
  -webkit-animation: join_us 0.6s;
  -moz-animation: join_us 0.6s;
  -ms-animation: join_us 0.6s;
  -o-animation: join_us 0.6s;
  animation: join_us 0.6s;
}
.bor.news {
  -webkit-animation: news 0.6s;
  -moz-animation: news 0.6s;
  -ms-animation: news 0.6s;
  -o-animation: news 0.6s;
  animation: news 0.6s;
}
.bor.about {
  -webkit-animation: about 0.6s;
  -moz-animation: about 0.6s;
  -ms-animation: about 0.6s;
  -o-animation: about 0.6s;
  animation: about 0.6s;
}
.header {
  display: block;
  position: relative;
  width: 100%;
}
@media screen and (max-width: 640px) {
  .header {
    height: 40px;
  }
}
@media screen and (min-width: 641px) {
  .header {
    height: 70px;
  }
}
@media screen and (min-width: 1025px) {
  .header {
    height: 70px;
  }
}
.header.header-about {
  position: absolute;
}
.header .logo {
  height: 90%;
  max-height: 100%;
  width: auto;
  position: absolute;
  z-index: 5;
  top: 50%;
  left: 3%;
  -webkit-transform: translateY(-50%);
}
@media screen and (max-width: 640px) {
  .header .logo {
    display: none;
  }
}
.header .nav {
  color: #fff;
  font-size: 2rem;
  position: absolute;
  z-index: 5;
  top: 50%;
  right: 3%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.header .nav::after {
  display: table;
  clear: both;
  content: "";
}
.header .nav .bor {
  display: block;
  position: absolute;
  width: 25%;
  height: 2px;
  background-color: #fe393d;
  bottom: 0;
  left: 0;
}
@media screen and (max-width: 640px) {
  .header .nav {
    width: 100%;
    position: relative;
    background-color: rgba(0, 0, 0, 0.3);
    top: 0;
    right: 0;
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -o-transform: translateY(0%);
    -ms-transform: translateY(0%);
    transform: translateY(0%);
  }
  .header .nav .bor {
    -webkit-transform: scaleX(0.7);
    -moz-transform: scaleX(0.7);
    -o-transform: scaleX(0.7);
    -ms-transform: scaleX(0.7);
    transform: scaleX(0.7);
  }
  .header .nav li {
    height: 45px !important;
    line-height: 45px !important;
  }
}
.header .nav li {
  text-align: center;
  position: relative;
  float: left;
  height: 4.8rem;
  line-height: 4.8rem;
  width: 10rem;
}
@media screen and (max-width: 640px) {
  .header .nav li {
    width: 25%;
  }
}
.header .nav li.active {
  font-weight: bold;
}
.header .nav a {
  display: block;
  width: 100%;
}
.header .nav a:hover {
  color: #cacaca;
}
.banner {
  height: 100%;
  width: 100%;
  background: url("../image/big.png") center no-repeat;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  position: relative;
}
.banner .pic1-sm {
  display: none;
}
.banner .pic2-sm-text {
  display: none;
}
.banner .middleImg {
  max-height: 90%;
  overflow: hidden;
  width: 100%;
}
.banner .layer1 {
  position: absolute;
  z-index: 1;
  top: 0;
  width: 100%;
  height: 75%;
  background-color: rgba(0, 0, 0, 0.2);
}
.banner .layer2 {
  position: absolute;
  z-index: 1;
  bottom: 5%;
  width: 100%;
  height: 20%;
  background-color: rgba(0, 0, 0, 0.5);
  padding-bottom: 12px;
}
.banner .pic2 {
  left: 50%;
  height: 50%;
  width: auto;
  position: absolute;
  z-index: 5;
  top: 27%;
  max-width: 318px;
  max-height: 242px;
  -webkit-transform: translate(-50%);
  -moz-transform: translate(-50%);
  -o-transform: translate(-50%);
  -ms-transform: translate(-50%);
  transform: translate(-50%);
}
.banner .pic2-sm {
  display: none;
}
.banner .copyright {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 14px;
  color: #cacaca;
  font-size: 14px;
  text-align: center;
}
.intro {
  position: relative;
  color: #ffffff;
  margin: 25px auto;
}
.intro ul {
  width: 100%;
}
.intro li {
  margin: 1rem 0;
  position: relative;
  float: left;
  width: 25%;
}
.intro img {
  position: absolute;
  left: 40%;
  margin-left: -1.3rem;
  height: 38px;
  width: auto;
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
}
.intro h3,
.intro p {
  margin-left: 40%;
}
.intro h3 {
  font-size: 2.4rem;
  line-height: 3.6rem;
}
.intro p {
  font-size: 1.8rem;
  line-height: 2;
}
@media screen and (min-width: 641px) and (max-width: 1024px) {
  .intro li {
    width: 50%;
  }
}
@media screen and (max-width: 640px) {
  html {
    font-size: 100px;
  }
}
@media screen and (max-width: 640px) {
  .header li {
    font-size: 0.35rem;
  }
}
@media screen and (min-width: 567px) and (max-width: 640px) {
  .header li {
    font-size: 0.2rem !important;
  }
}
@media screen and (max-width: 640px) {
  .banner {
    background: url("../image/pic-sm.png") center no-repeat;
  }
  .banner .pic1-sm {
    display: block;
  }
  .banner .pic1 {
    display: none;
  }
  .banner .pic2 {
    display: none;
  }
  .banner .pic2-sm {
    position: absolute;
    z-index: 30;
    display: block;
    width: 40%;
    top: 22%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
  }
}
@media screen and (max-width: 640px) {
  .layer1 {
    height: 61% !important;
  }
  .layer2 {
    height: 35% !important;
    bottom: 4% !important;
  }
  .copyright {
    bottom: 8px !important;
  }
}
@media screen and (max-width: 640px) {
  .intro {
    padding: 0rem 0;
    margin: 0 auto;
  }
  .intro li {
    margin: .3rem auto;
    width: 50%;
  }
  .intro li img,
  .intro li h3,
  .intro li p {
    margin: auto;
    text-align: center;
  }
  .intro li h3,
  .intro li p {
    line-height: 1.5;
  }
  .intro li h3 {
    font-size: 0.28rem;
  }
  .intro li p {
    font-size: 0.28rem;
  }
  .intro li img {
    position: relative;
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -o-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%);
    left: 0;
    margin: auto;
    height: .4rem;
  }
}
.header {
  position: absolute;
}
