@charset "UTF-8";
.clearfix::after {
  display: table;
  clear: both;
  content: "";
}
body {
  background-color: #f0f0f0;
  overflow-x: hidden;
}
html {
  font-size: 45%;
}
.mainbox {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 980px;
  overflow-x: hidden;
}
.hp:hover {
  cursor: pointer;
}
header {
  display: block;
  position: relative;
  width: 100%;
}
@media screen and (max-width: 640px) {
  header {
    height: 40px;
  }
}
@media screen and (min-width: 641px) {
  header {
    height: 70px;
  }
}
@media screen and (min-width: 1025px) {
  header {
    height: 70px;
  }
}
header.header {
  position: absolute;
}
header .logo {
  height: 90%;
  max-height: 100%;
  width: auto;
  position: absolute;
  z-index: 5;
  top: 50%;
  left: 3%;
  -webkit-transform: translateY(-50%);
}
@media screen and (max-width: 640px) {
  header .logo {
    display: none;
  }
}
header nav {
  color: #fff;
  font-size: 2rem;
  position: absolute;
  z-index: 5;
  top: 50%;
  right: 3%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
header nav::after {
  display: table;
  clear: both;
  content: "";
}
header nav .bor {
  display: block;
  position: absolute;
  width: 25%;
  height: 2px;
  background-color: #fe393d;
  bottom: 0;
  left: 0;
}
@media screen and (max-width: 640px) {
  header nav {
    width: 100%;
    position: relative;
    background-color: rgba(0, 0, 0, 0.3);
    top: 0;
    right: 0;
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -o-transform: translateY(0%);
    -ms-transform: translateY(0%);
    transform: translateY(0%);
  }
  header nav li {
    height: 45px !important;
    line-height: 45px !important;
  }
}
header nav li {
  text-align: center;
  position: relative;
  float: left;
  height: 4.8rem;
  line-height: 4.8rem;
  width: 10rem;
}
@media screen and (max-width: 640px) {
  header nav li {
    width: 25%;
  }
}
header nav li.active {
  font-weight: bold;
}
header nav a {
  display: block;
  width: 100%;
}
header nav a:hover {
  color: #cacaca;
}
footer {
  display: none;
}
@media screen and (max-width: 640px) {
  footer {
    display: block;
    padding: 3rem 0;
  }
  footer img {
    width: 35%;
    margin: auto auto ;
  }
}
.top {
  display: block;
  height: 100%;
}
.intro hr {
  background-color: #c9c9c9;
  margin: auto;
  width: 90%;
}
.intro p {
  color: #555555;
  font-size: 2rem;
  line-height: 200%;
}
.intro > p {
  margin: 15px auto;
  width: 90%;
}
.intro > p:nth-child(1) {
  padding-bottom: 15px;
  border-bottom: solid 1px #c9c9c9;
}
.intro > p:nth-child(2) {
  text-align: right;
}
.job-box {
  box-shadow: 4px 4px 8px #d4d4d4;
  -o-box-shadow: 4px 4px 8px #d4d4d4;
  -mo-box-shadow: 4px 4px 8px #d4d4d4;
  -moz-box-shadow: 4px 4px 8px #d4d4d4;
  -webkit-box-shadow: 4px 4px 8px #d4d4d4;
  border-radius: 6px;
  -o-border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  position: relative;
  background-color: #fff;
  width: 90%;
  margin: auto;
}
.job-box .job-bar {
  font-size: 2.4rem;
  line-height: 200%;
  width: 95%;
  margin: auto;
}
.job-box .job-bar ul {
  padding: 10px 0;
  display: block;
  border-bottom: solid 2px #ddd;
}
.job-box .job-bar ul::after {
  display: table;
  clear: both;
  content: "";
}
.job-box .job-bar li {
  line-height: 2rem;
  color: #cacaca;
  padding: 0 2rem;
  text-align: center;
  float: left;
}
.job-box .job-bar li:hover {
  cursor: pointer;
}
.job-box .job-bar li:not(:last-child) {
  border-right: solid 2px #ddd;
}
.job-box .job-bar li.active {
  color: #fe393d;
}
.job-box .job-bar li:not(.active):hover {
  color: #959595;
}
.job-box .job-list {
  width: 95%;
  margin: auto;
  margin-bottom: 10px;
}
.job-box .job-list .job {
  padding: 50px 0;
}
.job-box .job-list .job:not(:last-child) {
  border-bottom: solid 2px #ddd;
}
.job-box .job-list h2 {
  font-size: 3rem;
  line-height: 220%;
  display: inline-block;
  border-bottom: solid 4px #fe393d;
}
.job-box .job-list dt {
  font-weight: bold;
  font-size: 1.8rem;
  line-height: 180%;
  margin-top: 22px;
}
.job-box .job-list dd {
  font-size: 1.8rem;
  line-height: 180%;
  color: #555555;
}
@media screen and (max-width: 640px) {
  .job-box ul {
    -webkit-flex-flow: row nowrap !important;
    flex-flow: row nowrap !important;
    -webkit-justify-content: center !important;
    justify-content: center !important;
    align-items: center !important;
    /* 设置弹性布局 */
    display: -webkit-box !important;
    /* android 2.1-3.0, ios 3.2-4.3 */
    display: -webkit-flex !important;
    /* Chrome 21+ */
    display: -ms-flexbox !important;
    /* WP IE 10 */
    display: flex !important;
    /* android 4.4 */
  }
  .job-box ul li {
    float: none!important;
    /* 子元素自动占据剩余的空间 */
    -webkit-box-flex: 1 !important;
    /* android 2.1-3.0, ios 3.2-4.3 */
    -webkit-flex: 1 !important;
    /* Chrome 21+ */
    -ms-flex: 1 !important;
    /* WP IE 10 */
    flex: 1 !important;
    /* android 4.4 */
    padding: 0 !important;
  }
}
header nav {
  color: #555555;
}
header nav a:hover {
  color: #959595;
}
header nav {
  background-color: transparent;
}
header nav .bor {
  left: 75%;
}
