@charset "UTF-8";
.clearfix::after {
  display: table;
  clear: both;
  content: "";
}
body {
  background-color: #f0f0f0;
  overflow-x: hidden;
}
html {
  font-size: 45%;
}
.mainbox {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 980px;
}
.hp:hover {
  cursor: pointer;
}
@media screen and (max-width: 640px) {
  body {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
}
@-webkit-keyframes about {
  50% {
    left: 25%;
  }
  100% {
    left: 25%;
  }
}
@-moz-keyframes about {
  50% {
    left: 25%;
  }
  100% {
    left: 25%;
  }
}
@-ms-keyframes about {
  50% {
    left: 25%;
  }
  100% {
    left: 25%;
  }
}
@-o-keyframes about {
  50% {
    left: 25%;
  }
  100% {
    left: 25%;
  }
}
@keyframes about {
  50% {
    left: 25%;
  }
  100% {
    left: 25%;
  }
}
@-webkit-keyframes join_us {
  50% {
    left: 75%;
  }
  100% {
    left: 75%;
  }
}
@-moz-keyframes join_us {
  50% {
    left: 75%;
  }
  100% {
    left: 75%;
  }
}
@-ms-keyframes join_us {
  50% {
    left: 75%;
  }
  100% {
    left: 75%;
  }
}
@-o-keyframes join_us {
  50% {
    left: 75%;
  }
  100% {
    left: 75%;
  }
}
@keyframes join_us {
  50% {
    left: 75%;
  }
  100% {
    left: 75%;
  }
}
@-webkit-keyframes news {
  50% {
    left: 50%;
  }
  100% {
    left: 50%;
  }
}
@-moz-keyframes news {
  50% {
    left: 50%;
  }
  100% {
    left: 50%;
  }
}
@-ms-keyframes news {
  50% {
    left: 50%;
  }
  100% {
    left: 50%;
  }
}
@-o-keyframes news {
  50% {
    left: 50%;
  }
  100% {
    left: 50%;
  }
}
@keyframes news {
  50% {
    left: 50%;
  }
  100% {
    left: 50%;
  }
}
@-webkit-keyframes index {
  50% {
    left: 0%;
  }
  100% {
    left: 0%;
  }
}
@-moz-keyframes index {
  50% {
    left: 0%;
  }
  100% {
    left: 0%;
  }
}
@-ms-keyframes index {
  50% {
    left: 0%;
  }
  100% {
    left: 0%;
  }
}
@-o-keyframes index {
  50% {
    left: 0%;
  }
  100% {
    left: 0%;
  }
}
@keyframes index {
  50% {
    left: 0%;
  }
  100% {
    left: 0%;
  }
}
.bor.index {
  -webkit-animation: index 0.6s;
  -moz-animation: index 0.6s;
  -ms-animation: index 0.6s;
  -o-animation: index 0.6s;
  animation: index 0.6s;
}
.bor.join_us {
  -webkit-animation: join_us 0.6s;
  -moz-animation: join_us 0.6s;
  -ms-animation: join_us 0.6s;
  -o-animation: join_us 0.6s;
  animation: join_us 0.6s;
}
.bor.news {
  -webkit-animation: news 0.6s;
  -moz-animation: news 0.6s;
  -ms-animation: news 0.6s;
  -o-animation: news 0.6s;
  animation: news 0.6s;
}
.bor.about {
  -webkit-animation: about 0.6s;
  -moz-animation: about 0.6s;
  -ms-animation: about 0.6s;
  -o-animation: about 0.6s;
  animation: about 0.6s;
}
.header {
  z-index: 103;
  display: block;
  position: absolute;
  width: 100%;
  height: 90px;
}
.header.join_us {
  position: relative;
}
.header.header-about {
  position: absolute;
}
.header .logo {
  float: left;
  height: 75%;
  max-height: 100%;
  width: auto;
  margin-top: 5px;
  margin-left: 20px;
}
.header .nav {
  height: 70%;
  padding-top: 10px;
  display: block;
  color: #fff;
  font-size: 2em;
  position: relative;
  right: 3%;
  float: right;
}
.header .nav::after {
  display: table;
  clear: both;
  content: "";
}
.header .nav .bor {
  display: block;
  position: absolute;
  width: 25%;
  height: 2px;
  z-index: 5;
  background-color: #fe393d;
  bottom: 0;
  left: 0;
}
.header .nav li {
  text-align: center;
  position: relative;
  float: left;
  height: 50%;
  line-height: 45px;
  font-size: 14px;
  width: 100px;
}
.header .nav li.active {
  font-weight: bold;
}
.header .nav a {
  display: block;
  width: 100%;
}
.header .nav a:hover {
  color: #cacaca;
}
.footer {
  display: none;
}
.top {
  display: block;
  height: 100%;
}
.intro .title {
  font-size: 44px;
  line-height: 2;
  color: #555;
  width: 90%;
  margin: 0 auto;
}
.intro .title .rightArrow {
  display: inline-block;
  height: 44px;
  width: 80px;
  background: url(../image/arrow-r.png) center no-repeat;
  -webkit-background-size: 4.4rem;
  background-size: 4.4rem;
  vertical-align: middle;
  margin-top: -10px;
}
.intro .targetBox {
  margin: 40px auto;
  text-align: center;
  width: 80%;
}
.intro .targetBox p {
  color: #fe393d;
  font-size: 28px;
  line-height: 28px;
}
.intro hr {
  background-color: #c9c9c9;
  margin: auto;
  width: 90%;
}
.intro p {
  color: #555555;
  font-size: 14px;
  line-height: 200%;
}
.intro > p {
  margin: 15px auto;
  width: 90%;
}
.intro > p.n1 {
  padding-bottom: 15px;
  border-bottom: solid 1px #c9c9c9;
}
.intro > p.n2 {
  text-align: right;
}
.job-box {
  box-shadow: 4px 4px 8px #d4d4d4;
  -o-box-shadow: 4px 4px 8px #d4d4d4;
  -mo-box-shadow: 4px 4px 8px #d4d4d4;
  -moz-box-shadow: 4px 4px 8px #d4d4d4;
  -webkit-box-shadow: 4px 4px 8px #d4d4d4;
  border-radius: 6px;
  -o-border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  position: relative;
  background-color: #fff;
  width: 90%;
  margin: auto;
}
.job-box .job-bar {
  height: 46px;
  font-size: 17px;
  line-height: 200%;
  width: 95%;
  margin: auto;
}
.job-box .job-bar ul {
  height: 46px;
  padding: 10px 0;
  display: block;
  border-bottom: solid 2px #ddd;
}
.job-box .job-bar ul::after {
  display: table;
  clear: both;
  content: "";
}
.job-box .job-bar li {
  line-height: 24px;
  color: #cacaca;
  padding: 0 24px;
  text-align: center;
  float: left;
  border-right: solid 2px #ddd;
}
.job-box .job-bar li:hover {
  cursor: pointer;
}
.job-box .job-bar li.last {
  border: none;
}
.job-box .job-bar li.active {
  color: #fe393d;
}
.job-box .job-bar li:not(.active):hover {
  color: #959595;
}
.job-box .job-list {
  width: 95%;
  margin: auto;
  margin-bottom: 10px;
}
.job-box .job-list .job {
  padding: 20px 0;
  border-top: solid 2px #ddd;
}
.job-box .job-list .job.n1 {
  border-top: none;
}
.job-box .job-list h2 {
  font-size: 21px;
  line-height: 220%;
  display: inline-block;
  border-bottom: solid 4px #fe393d;
}
.job-box .job-list dt {
  font-weight: bold;
  font-size: 13px;
  line-height: 180%;
  margin-top: 22px;
}
.job-box .job-list dd {
  font-size: 13px;
  line-height: 180%;
  color: #555555;
}
.header .nav {
  color: #555555;
}
.header .nav a:hover {
  color: #959595;
}
.header .nav {
  background-color: transparent;
}
.header .nav .bor {
  left: 75%;
}
.footer1 {
  width: 100%;
  background-color: #191919;
}
.footer1 .copyright {
  line-height: 2;
  color: #cacaca;
  font-size: 16px;
  text-align: center;
}
.culture {
  width: 90%;
  margin: 40px auto 0;
  padding: 50px 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 3px 3px #d4d4d4;
  -moz-box-shadow: 0 3px 3px #d4d4d4;
  box-shadow: 0 3px 3px #d4d4d4;
  background: url("../image/culture.jpg") 0 2px #ffffff no-repeat;
  -webkit-background-size: auto 100% ;
  background-size: auto 100%;
}
.culture .title {
  font-size: 4.4rem;
  line-height: 1.5;
  color: #555;
  width: 90%;
  margin: 0 auto;
}
.culture .title .rightArrow {
  display: inline-block;
  height: 4.4rem;
  width: 8rem;
  background: url(../image/arrow-r.png) center no-repeat;
  -webkit-background-size: 4.4rem;
  background-size: 4.4rem;
  vertical-align: middle;
  margin-top: -10px;
}
.culture p {
  width: 90%;
  margin: 0 auto;
}
