@charset "UTF-8";
.clearfix::after {
  display: table;
  clear: both;
  content: "";
}
body {
  background-color: #f0f0f0;
  overflow-x: hidden;
}
html {
  font-size: 45%;
}
.mainbox {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 980px;
}
.hp:hover {
  cursor: pointer;
}
header {
  display: block;
  position: relative;
  width: 100%;
}
@media screen and (max-width: 640px) {
  header {
    height: 40px;
  }
}
@media screen and (min-width: 641px) {
  header {
    height: 70px;
  }
}
@media screen and (min-width: 1025px) {
  header {
    height: 70px;
  }
}
header .logo {
  height: 90%;
  max-height: 100%;
  width: auto;
  position: absolute;
  z-index: 5;
  top: 50%;
  left: 3%;
  -webkit-transform: translateY(-50%);
}
@media screen and (max-width: 640px) {
  header .logo {
    display: none;
  }
}
header nav {
  color: #fff;
  font-size: 2rem;
  position: absolute;
  z-index: 5;
  top: 50%;
  right: 3%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
header nav::after {
  display: table;
  clear: both;
  content: "";
}
header nav .bor {
  display: block;
  position: absolute;
  width: 25%;
  height: 2px;
  background-color: #fe393d;
  bottom: 0;
  left: 0;
}
@media screen and (max-width: 640px) {
  header nav {
    width: 100%;
    position: relative;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    right: 0;
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -o-transform: translateY(0%);
    -ms-transform: translateY(0%);
    transform: translateY(0%);
  }
}
header nav li {
  text-align: center;
  position: relative;
  float: left;
  height: 4.8rem;
  line-height: 4.8rem;
  width: 10rem;
}
@media screen and (max-width: 640px) {
  header nav li {
    width: 25%;
  }
}
header nav li.active {
  font-weight: bold;
}
header nav a {
  display: block;
  width: 100%;
}
header nav a:hover {
  color: #cacaca;
}
.top {
  display: block;
}
@media screen and (max-width: 640px) {
  .top {
    height: 13rem;
  }
}
@media screen and (min-width: 641px) {
  .top {
    height: 160px;
  }
}
@media screen and (min-width: 1025px) {
  .top {
    height: 160px;
  }
}
.intro {
  width: 95%;
  border-radius: 6px;
  -o-border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  box-shadow: 4px 4px 8px #d4d4d4;
  -o-box-shadow: 4px 4px 8px #d4d4d4;
  -mo-box-shadow: 4px 4px 8px #d4d4d4;
  -moz-box-shadow: 4px 4px 8px #d4d4d4;
  -webkit-box-shadow: 4px 4px 8px #d4d4d4;
  margin-bottom: 10px;
  background-color: #fff;
  padding: 30px 0;
}
.intro .box {
  width: auto;
  margin: auto;
  display: table;
}
.intro .item {
  margin: 20px auto;
  position: relative;
}
.intro .item::after {
  display: table;
  clear: both;
  content: "";
}
.intro .item .date {
  float: left;
  border-radius: 100%;
  -o-border-radius: 100%;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  color: #fff;
  text-align: center;
  display: block;
  height: 7.7rem;
  width: 7.7rem;
  padding: 1.8rem 0;
}
.intro .item .date span {
  display: block;
  font-size: 1.7rem;
}
.intro .item .date span:nth-child(2) {
  font-weight: bold;
  font-size: 3.4rem;
}
.intro .item:nth-child(1) .date {
  background-color: #fe393d;
}
.intro .item:nth-child(2) .date {
  background-color: #dd5053;
}
.intro .item:nth-child(3) .date {
  background-color: #c26668;
}
.intro .item:nth-child(4) .date {
  background-color: #aa7778;
}
.intro .item:nth-child(5) .date {
  background-color: #9a8a8a;
}
.intro .item:nth-child(6) .date {
  background-color: #959595;
}
.intro .item .text {
  float: left;
  font-size: 2.4rem;
  line-height: 6.7rem;
  margin-left: 15px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
header nav {
  color: #555555;
}
header nav a:hover {
  color: #959595;
}
header nav .bor {
  left: 50%;
}
