@charset "UTF-8";
@media screen and (max-width: 640px) {
  .hide-sm {
    display: none;
  }
}
@media screen and (min-width: 641px) and (max-width: 1024px) {
  .hide-md {
    display: none;
  }
}
@media screen and (min-width: 1025px) {
  .hide-lg {
    display: none;
  }
}
@media screen and (max-width: 640px) {
  .show-sm {
    display: block;
  }
}
@media screen and (min-width: 641px) and (max-width: 1024px) {
  .show-md {
    display: block;
  }
}
@media screen and (min-width: 1025px) {
  .show-lg {
    display: block;
  }
}
.clearfix::after {
  display: table;
  clear: both;
  content: "";
}
body {
  background-color: #f0f0f0;
  overflow-x: hidden;
}
html {
  font-size: 45%;
}
.mainbox {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 980px;
}
.hp:hover {
  cursor: pointer;
}
@media screen and (max-width: 640px) {
  body {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
}
@-webkit-keyframes about {
  50% {
    left: 25%;
  }
  100% {
    left: 25%;
  }
}
@-moz-keyframes about {
  50% {
    left: 25%;
  }
  100% {
    left: 25%;
  }
}
@-ms-keyframes about {
  50% {
    left: 25%;
  }
  100% {
    left: 25%;
  }
}
@-o-keyframes about {
  50% {
    left: 25%;
  }
  100% {
    left: 25%;
  }
}
@keyframes about {
  50% {
    left: 25%;
  }
  100% {
    left: 25%;
  }
}
@-webkit-keyframes hr {
  50% {
    left: 75%;
  }
  100% {
    left: 75%;
  }
}
@-moz-keyframes hr {
  50% {
    left: 75%;
  }
  100% {
    left: 75%;
  }
}
@-ms-keyframes hr {
  50% {
    left: 75%;
  }
  100% {
    left: 75%;
  }
}
@-o-keyframes hr {
  50% {
    left: 75%;
  }
  100% {
    left: 75%;
  }
}
@keyframes hr {
  50% {
    left: 75%;
  }
  100% {
    left: 75%;
  }
}
@-webkit-keyframes news {
  50% {
    left: 50%;
  }
  100% {
    left: 50%;
  }
}
@-moz-keyframes news {
  50% {
    left: 50%;
  }
  100% {
    left: 50%;
  }
}
@-ms-keyframes news {
  50% {
    left: 50%;
  }
  100% {
    left: 50%;
  }
}
@-o-keyframes news {
  50% {
    left: 50%;
  }
  100% {
    left: 50%;
  }
}
@keyframes news {
  50% {
    left: 50%;
  }
  100% {
    left: 50%;
  }
}
@-webkit-keyframes index {
  50% {
    left: 0%;
  }
  100% {
    left: 0%;
  }
}
@-moz-keyframes index {
  50% {
    left: 0%;
  }
  100% {
    left: 0%;
  }
}
@-ms-keyframes index {
  50% {
    left: 0%;
  }
  100% {
    left: 0%;
  }
}
@-o-keyframes index {
  50% {
    left: 0%;
  }
  100% {
    left: 0%;
  }
}
@keyframes index {
  50% {
    left: 0%;
  }
  100% {
    left: 0%;
  }
}
.bor.index {
  -webkit-animation: index 0.6s;
  -moz-animation: index 0.6s;
  -ms-animation: index 0.6s;
  -o-animation: index 0.6s;
  animation: index 0.6s;
}
.bor.hr {
  -webkit-animation: hr 0.6s;
  -moz-animation: hr 0.6s;
  -ms-animation: hr 0.6s;
  -o-animation: hr 0.6s;
  animation: hr 0.6s;
}
.bor.news {
  -webkit-animation: news 0.6s;
  -moz-animation: news 0.6s;
  -ms-animation: news 0.6s;
  -o-animation: news 0.6s;
  animation: news 0.6s;
}
.bor.about {
  -webkit-animation: about 0.6s;
  -moz-animation: about 0.6s;
  -ms-animation: about 0.6s;
  -o-animation: about 0.6s;
  animation: about 0.6s;
}
@media screen and (max-width: 640px) {
  .path {
    display: none;
  }
}
.header {
  z-index: 103;
  display: block;
  position: absolute;
  width: 100%;
  height: 90px;
}
.header.hr {
  position: relative;
}
.header.header-about {
  position: absolute;
}
.header .logo {
  float: left;
  height: 75%;
  max-height: 100%;
  width: auto;
  margin-top: 5px;
  margin-left: 20px;
}
.header .nav {
  height: 70%;
  padding-top: 10px;
  display: block;
  color: #fff;
  font-size: 2em;
  position: relative;
  right: 3%;
  float: right;
}
.header .nav::after {
  display: table;
  clear: both;
  content: "";
}
.header .nav .bor {
  display: block;
  position: absolute;
  width: 25%;
  height: 2px;
  z-index: 5;
  background-color: #fe393d;
  bottom: 0;
  left: 0;
}
.header .nav li {
  text-align: center;
  position: relative;
  float: left;
  height: 50%;
  line-height: 45px;
  font-size: 14px;
  width: 100px;
}
.header .nav li.active {
  font-weight: bold;
}
.header .nav a {
  display: block;
  width: 100%;
}
.header .nav a:hover {
  color: #cacaca;
}
.footer {
  display: none;
}
header {
  position: absolute;
}
.top {
  display: block;
  height: 160px;
}
.intro {
  width: 95%;
  margin-bottom: 10px;
  background-color: #fff;
  padding: 30px 0;
}
.intro .title {
  font-size: 44px;
  line-height: 2;
  color: #555;
  margin-left: 15%;
  margin-bottom: 80px;
}
.intro .title .rightArrow {
  display: inline-block;
  height: 44px;
  width: 80px;
  background: url(../image/arrow-r.png) center no-repeat;
  -webkit-background-size: 4.4rem;
  background-size: 4.4rem;
  vertical-align: middle;
  margin-top: -10px;
}
.intro .item {
  line-height: 2;
  margin: 20px auto;
  position: relative;
}
.intro .item::after {
  display: table;
  clear: both;
  content: "";
}
.intro .item .star {
  margin-left: 18%;
  margin-top: 9px;
  height: 20px;
  width: 20px;
  display: block;
  float: left;
  background: url("../image/star.png") center no-repeat;
  -webkit-background-size: 1.5rem;
  background-size: 1.5rem;
}
.intro .item span {
  width: 120px;
  text-align: justify;
  display: block;
  float: left;
  margin-left: 28px;
  font-size: 24px;
  color: #fe393d;
}
.intro .item .text {
  float: left;
  font-size: 24px;
  margin-left: 5px;
}
.header .nav {
  color: #555555;
}
.header .nav a:hover {
  color: #959595;
}
.header .nav .bor {
  left: 50%;
}
.footer {
  display: none;
}
.footer1 {
  width: 100%;
  background-color: #191919;
}
.footer1 .copyright {
  line-height: 2;
  color: #cacaca;
  font-size: 16px;
  text-align: center;
}
