@import "mixins";
//reset
* {
  font-family: "苹方-简", SimHei, "Microsoft YaHei";
  margin: 0;
  padding: 0;
  list-style: none;
}

body, html {
  width: 100%;
  height: 100%
}

a:link, a:visited, a:active {
  color: inherit;
  outline: 0;
  text-decoration: none
}

a:hover {
  text-decoration: none
}

img {
  width: 100%;
  clear: both;
  display: block;
  border: 0;
  vertical-align: top;
  -ms-interpolation-mode: bicubic
}

ol, ul {
  list-style-type: none;
  list-style-image: none;
}

html {
  font-size: 100px;
}

@media screen and (max-width: 320px) {
  body {
    font-size: 14px;
  }
}

@media screen and (min-width: 321px) and (max-width: 413px) {
  body {
    font-size: 16px;
  }
}

@media screen and (min-width: 414px) and (max-width: 639px) {
  body {
    font-size: 17px;
  }
}

@media screen and (min-width: 640px) {
  body {
    font-size: 18px;
  }
}

@hfsc: 30;
.loop-hfs(@n) when (@n >= 240) {
  @media screen and (min-width: (1px * @n - @hfsc + 1)) and (max-width: (1px * @n)) {
    html {
      font-size: round(1px * @n / 750 * 100);
    }
  }
  .loop-hfs(@n - @hfsc)
}

.loop-hfs(750);

//common

.clearfix {
  zoom: 1;
  &:before {
    content: '';
    display: table;
  }
  &:after {
    content: '';
    display: table;
    clear: both;
    overflow: hidden;
  }
}

.clear {
  clear: both;
  display: block;
  font-size: 0;
  height: 0;
  line-height: 0;
  overflow: hidden;
}

.hide {
  display: none;
}

.block {
  display: block;
}

.fl, .fr {
  display: inline;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

//app
.container {
  position: relative;
  display: block;
  width: 100%;
  max-width: 780px;
  margin-right: auto;
  margin-left: auto;
}

@header-height: .8rem;
.header {
  position: relative;
  height: @header-height;
  background-color: #edefed;
  border-bottom: solid .02rem #d7dbdb;

  .input {
    text-align: center;
    position: absolute;
    height: (@header-height - .1 * 2);
    line-height: (@header-height - .1 * 2);
    top: 50%;
    left: 50%;
    .transform(translate(-50%, -50%));
    width: 4.56rem;
    border: solid .02rem #ced0d0;
  }

}

.ait_big_activity {
  position: relative;
  width: 95%;
  margin: .18rem auto;
  &:nth-child(1) {
    margin-top: .1rem;
  }
  .theme-img {
    min-height: .3rem;
    .border-radius(.1rem);
  }
  .theme-titlebox {
    position: absolute;
    display: block;
    text-align: center;
    top: 50%;
    left: 50%;
    .transform(translate(-50%, -50%));

  }
  .theme-title {
    color: #fff;
    font-size: .44rem;
    line-height: .56rem;
  }
  .theme-subtitle {
    color: #fff;
    font-size: .32rem;
    line-height: .56rem;
  }

}

.icon {
  width: 1.4rem;
  height: 1.4rem;
  background-image: url(sprite.png);
  background-repeat: no-repeat;
  background-size: 1.4rem;
}

.icon3 {
  background-position: 0 -2.8rem;
}

.icon-fix {
  background: none;
  position: relative;
  overflow: hidden;
}

.icon-fix:after {
  content: '';
  display: block;
  width: 10000%;
  height: 10000%;
  position: absolute;
  left: 0;
  top: 0;
  background-image: url(sprite.png);
  background-repeat: no-repeat;
  background-size: 140rem;
  -webkit-transform-origin: 0 0;
  -webkit-transform: scale(.01);
  transform-origin: 0 0;
  transform: scale(.01);
}

.icon3:after {
  background-position: 0 -280rem;
}
