@import "mixins";
body {
  background-color: #f0f0f0;
}

p {
  font-size: .28rem;
  line-height: .48rem;
  color: #555;
  padding: .32rem .27rem;
}

.topIntro {
  width: 100%;
  height: auto;
  background-color: #fff;
  color: #555555;
  margin-bottom: .2rem;
  img {
    width: 100%;
    height: auto;
  }
  h2 {
    font-size: .44rem;
    text-align: center;
    line-height: .56rem;
    font-weight: normal;
    margin-top: .4rem;
  }
  small {
    display: table;
    font-size: .24rem;
    height: .48rem;
    line-height: .48rem;
    background-color: #fe393d;
    padding: 0 .26rem;
    margin: .2rem auto 0;
    color: #fff;
    .border-radius(.24rem);
  }
}

.det-title {
  width: 100%;
  height: 1rem;
  line-height: 1rem;
  text-align: center;
  font-size: .44rem;
  font-weight: normal;
  color: #fe393d;
  .leftLine, .rightLine {
    width: 20%;
    height: 40%;
    display: inline-block;
    -webkit-background-size: 1rem auto;
    background-size: 1rem auto;
  }

  .leftLine {
    background: url(../images/leftLine.png) center no-repeat;
  }
  .rightLine {
    background: url(../images/rightLine.png) center no-repeat;
  }
}

.detailIntro {
  margin: 0 .15rem .2rem;
  .border-radius(.03rem);
  height: auto;
  background-color: #fff;
  .imgBox {
    position: relative;
    width: 100%;
    height: auto;
    background-color: #fff;
    .posIndex {
      display: block;
      height: .6rem;
      line-height: .48rem;
      width: auto;
      color: #fff;
      font-size: .3rem;
      background-color: #fe393d;
      padding: 0 .32rem;
      .border-radius(.3rem);
      i {
        display: inline-block;
        height: 100%;
        width: .5rem;
        background: url(../images/11logo.png) center no-repeat;
        vertical-align: middle;
        background-size: .4rem auto;
      }
      position: absolute;
      bottom: .2rem;
      left: .3rem;
      z-index: 2;
    }
  }
}

.recApartment {
  margin: 0 .15rem .2rem;
  .border-radius(.03rem);
  height: auto;
  background-color: #fff;
  border-bottom: #e1e1e1 2px solid;
  .title {
    display: block;
    width: 90%;
    height: 1rem;
    line-height: 1rem;
    border-bottom: #e1e1e1 1px solid;
    margin: 0 auto;
    .fav {
      display: inline-block;
      height: .6rem;
      width: .6rem;
      background: url(../images/fav.png) center no-repeat #fe393d;
      margin-right: .1rem;
      .border-radius(.3rem);
      vertical-align: middle;
      background-size: .4rem auto;
    }
    h4 {
      display: inline-block;
      font-size: .28rem;
      line-height: .4rem;
      font-weight: normal;
      color: #555;
      vertical-align: middle;
    }
    a {
      display: block;
      font-size: .24rem;
      height: 100%;
      color: #959595;
      .moreIcon {
        display: inline-block;
        vertical-align: text-bottom;
        height: .3rem;
        width: .2rem;
        background: url(../images/moreIcon.png) center no-repeat;
        background-size: .13rem auto;
      }
    }
  }
  .mainApartment {
    width: 90%;
    margin: 0 auto;
    .imgBox {
      margin: .27rem 1%;
      width: 48%;
      height: auto;
      float: left;
      p{
        padding: 0;
      }
      .price {
        display: block;
        height: .44rem;
        line-height: .40rem;
        font-size: .44rem;
        color: #fe393d;
      }
    }
  }

}

.recTheme {
  margin: 0 .15rem .2rem;
  .border-radius(.03rem);
  height: auto;
  background-color: #fff;
  padding: .3rem 0;
  .title {
    display: block;
    width: 90%;
    height: 1rem;
    line-height: 1rem;
    border-bottom: #e1e1e1 2px solid;
    margin: 0 auto;
    h4 {
      display: inline-block;
      font-size: .28rem;
      line-height: .4rem;
      font-weight: normal;
      color: #555;
    }
  }
  .banner {
    width: 90%;
    height: auto;
    margin: 0 auto;
    padding: .25rem 0;
    .swiper-slide {
      height: 2rem;
      width: auto;
      margin-right:.2rem;
      .imgBox {
        position: relative;
        height: 100%;
        width: auto;
        img {
          height: 100%;
          width: auto;
        }
        .titleRec {
          position: absolute;
          bottom: .25rem;
          left: .3rem;
          z-index: 2;
          color: #fff;
          height: .4rem;
          line-height: .4rem;
          font-size: .28rem;
          font-weight: normal;
        }
      }
    }

  }
}
.footer {
  width: 100%;
  height: .5rem;
  background: url(../images/footer.png) center no-repeat;
}




















