@import "mixins";
body {
  background-color: #f0f0f0;
}

.ait_top_image {
  width: 100%;
  height: auto;
  img {
    width: 100%;
    height: auto;
  }
}
.ait_title_double{
  width: 100%;
  height: auto;
  background-color: #fff;
  padding-top: .2rem;
  h2 {
    font-size: .44rem;
    text-align: center;
    line-height: .56rem;
    font-weight: normal !important;
    color: #555;
  }
  small {
    display: table;
    font-size: .24rem;
    height: .53rem;
    line-height: .53rem;
    background-color: #fe393d;
    padding: 0 .3rem;
    margin: .1rem auto 0;
    color: #fff;
    .border-radius(.24rem);
  }
}
.ait_text {
  width: 100%;
  height: auto;
  background-color: #fff;
  margin-top: 10px;
  border-bottom: #e1e1e1 1px solid;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  p {
    font-size: .28rem;
    line-height: .4rem;
    color: #555;
    padding: .32rem .27rem;
  }
  &.showFlag {
    margin-top: 0;
  }
  &.followSix {
    width:auto;
    margin-left: .15rem;
    margin-right: .15rem;
  }
}
.ait_title_single {
  .det-title {
    margin: .32rem .15rem;
    text-align: center;
    font-size: .44rem;
    color: #fe393d;
    strong {
      font-weight: normal;
      max-width: 40%;
      margin: 0 .4rem;
      display: inline-block;
      vertical-align: middle;
    }
  }
  .leftLine, .rightLine {
    min-width: 20%;
    height: .3rem;
    display: inline-block;
    vertical-align: middle;
  }

  .leftLine {
    background: url(/static/nh5/share/images/leftLine.png) right center no-repeat;
  }
  .rightLine {
    background: url(/static/nh5/share/images/rightLine.png) left center no-repeat;
  }
}
.ait_image {
  margin: .2rem .15rem 0;
  height: auto;
  position: relative;
  img {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  }
  .posIndex {
    display: block;
    height: .63rem;
    line-height: .63rem;
    width: auto;
    color: #fff;
    font-size: .3rem;
    background-color: #fe393d;
    padding: 0 .19rem;
    .border-radius(.3rem);
    img {
      .border-radius(0);
      display: inline-block;
      height: 80%;
      width: auto;
      vertical-align: middle;
    }
    position: absolute;
    bottom: .2rem;
    left: .3rem;
    z-index: 2;
  }
}
.ait_houses{
  margin: .2rem .15rem;
  .border-radius(.03rem);
  height: auto;
  background-color: #fff;
  border-bottom: #e1e1e1 1px solid;
  .border-radius(3px);
  .title {
    display: block;
    width: 90%;
    height: 1rem;
    line-height: 1rem;
    border-bottom: #e1e1e1 1px solid;
    margin: 0 auto;
    .fav {
      display: inline-block;
      height: .6rem;
      width: .6rem;
      background: url(/static/nh5/share/images/fav.png) center no-repeat #fe393d;
      margin-right: .1rem;
      .border-radius(.3rem);
      vertical-align: middle;
      background-size: .4rem;
      -webkit-background-size: .4rem;
    }
    h4 {
      display: inline-block;
      font-size: .28rem;
      line-height: .4rem;
      font-weight: normal !important;
      color: #555;
      vertical-align: middle;
    }
    a {
      display: block;
      font-size: .24rem;
      height: 100%;
      color: #959595;
      .moreIcon {
        display: inline-block;
        vertical-align: middle;
        height: .24rem;
        width: auto;
        margin-left: .1rem;
      }
    }
  }
  .mainApartment {
    width: 90%;
    margin: 0 auto;
    padding-bottom: .27rem;
    color: #555;
    .imgBox {
      margin: .27rem 1% 0;
      width: 48%;
      height: auto;
      float: left;
      img {
        width: 100%;
        height: 2.05rem;
        .border-radius(3px);
      }
      p{
        overflow : hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        line-height: .4rem;
        height: .8rem;
        margin: .2rem 0;
        padding: 0;
      }
      .price {
        i {
          font-style: normal;
          font-size: .28rem;
          margin-right: .1rem;
        }
        display: block;
        height: .44rem;
        line-height: .40rem;
        font-size: .44rem;
        color: #fe393d;
      }
    }
  }
}
.ait_activitys {
  margin: .2rem .15rem;
  .border-radius(.03rem);
  height: auto;
  background-color: #fff;
  .title {
    display: block;
    width: 90%;
    height: 1rem;
    line-height: 1rem;
    border-bottom: #e1e1e1 1px solid;
    margin: 0 auto;
    h4 {
      display: inline-block;
      font-size: .28rem;
      line-height: .4rem;
      font-weight: normal !important;
      color: #555;
    }
  }
  .banner {
    width: 90%;
    height: auto;
    margin: 0 auto;
    padding: .25rem 0;
    .swiper-slide {
      height: 2rem;
      width: auto;
      margin-right:.2rem;
      .imgBox {
        position: relative;
        height: 100%;
        width: auto;
        img {
          height: 100%;
          width: auto;
        }
        .titleRec {
          position: absolute;
          bottom: .25rem;
          left: .3rem;
          z-index: 2;
          color: #fff;
          height: .4rem;
          line-height: .4rem;
          font-size: .28rem;
          font-weight: normal !important;
        }
      }
    }

  }
}

.footer {
  width: 100%;
  height: .5rem;
  background: url(/static/nh5/share/images/footer.png) center no-repeat;
}




















