.box-sizing-borderbox {
  box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.user-select-none {
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}
body {
  background-color: #f0f0f0;
}
.ait_top_image {
  width: 100%;
  height: 4.22rem;
  overflow: hidden;
}
.ait_top_image img {
  width: 100%;
  height: auto;
}
.ait_title_double {
  width: 100%;
  height: auto;
  background-color: #fff;
  padding-top: .22rem;
}
.ait_title_double h2 {
  font-size: .44rem;
  text-align: center;
  line-height: .56rem;
  font-weight: normal !important;
  color: #555;
}
.ait_title_double small {
  display: table;
  font-size: .24rem;
  height: .53rem;
  line-height: .53rem;
  background-color: #fe393d;
  padding: 0 .3rem 1px;
  margin: .12rem auto 0;
  color: #fff;
  border-radius: 0.24rem;
  -o-border-radius: 0.24rem;
  -moz-border-radius: 0.24rem;
  -webkit-border-radius: 0.24rem;
}
.ait_text {
  width: 100%;
  height: auto;
  background-color: #fff;
  margin-top: 10px;
  border-bottom: #e1e1e1 1px solid;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
.ait_text p {
  font-size: .28rem;
  line-height: .5rem;
  color: #555;
  padding: .32rem .27rem;
}
.ait_text.showFlag {
  margin-top: 0;
}
.ait_text.followSix {
  width: auto;
  margin-left: .15rem;
  margin-right: .15rem;
}
.ait_title_single .det-title {
  margin: .32rem .15rem;
  text-align: center;
  font-size: .4rem;
  color: #fe393d;
}
.ait_title_single .det-title strong {
  font-weight: normal;
  max-width: 40%;
  margin: 0 .4rem;
  display: inline-block;
  vertical-align: middle;
}
.ait_title_single .line {
  display: inline-block;
  min-width: 1rem;
  height: 1px;
  background-color: #fe393d;
  vertical-align: middle;
}
.ait_title_single .dot {
  margin: 0 2px;
  display: inline-block;
  width: 6px;
  height: 6px;
  vertical-align: middle;
  background-color: #fe393d;
  border-radius: 3px;
  -o-border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}
.ait_image {
  margin: .2rem .15rem 0;
  height: 4rem;
  position: relative;
  overflow: hidden;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
.ait_image.before7 {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.ait_image .posIndex {
  display: block;
  height: .63rem;
  line-height: .63rem;
  width: auto;
  color: #fff;
  font-size: .3rem;
  background-color: #fe393d;
  padding: 0 .19rem;
  border-radius: 0.3rem;
  -o-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  -webkit-border-radius: 0.3rem;
  position: absolute;
  bottom: .2rem;
  left: .3rem;
  z-index: 2;
}
.ait_image .posIndex img {
  border-radius: 0;
  -o-border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  display: inline-block;
  height: 80%;
  width: auto;
  vertical-align: middle;
}
.ait_houses {
  margin: .2rem .15rem;
  border-radius: 0.03rem;
  -o-border-radius: 0.03rem;
  -moz-border-radius: 0.03rem;
  -webkit-border-radius: 0.03rem;
  height: auto;
  background-color: #fff;
  border-bottom: #e1e1e1 1px solid;
  border-radius: 3px;
  -o-border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}
.ait_houses .title {
  display: block;
  width: 94%;
  height: 1rem;
  line-height: 1rem;
  border-bottom: #e1e1e1 1px solid;
  margin: 0 auto;
}
.ait_houses .title .fav {
  display: inline-block;
  height: .6rem;
  width: .6rem;
  background: url(/static/nh5/share/images/fav.png) center no-repeat #fe393d;
  margin-right: .1rem;
  border-radius: 0.3rem;
  -o-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  -webkit-border-radius: 0.3rem;
  vertical-align: middle;
  background-size: .3rem;
  -webkit-background-size: .3rem;
}
.ait_houses .title h4 {
  display: inline-block;
  font-size: .28rem;
  line-height: .4rem;
  font-weight: normal !important;
  color: #555;
  vertical-align: middle;
}
.ait_houses .title a {
  display: block;
  font-size: .24rem;
  height: 100%;
  color: #959595;
}
.ait_houses .title a .moreIcon {
  display: inline-block;
  vertical-align: middle;
  height: .24rem;
  width: auto;
  margin-left: .1rem;
}
.ait_houses .mainApartment {
  width: 94%;
  margin: 0 auto;
  padding-bottom: .27rem;
  color: #555;
}
.ait_houses .mainApartment .imgBox {
  margin: .27rem 1.5% 0;
  width: 48.5%;
  height: auto;
  float: left;
}
.ait_houses .mainApartment .imgBox:nth-of-type(2n+1) {
  margin-left: 0;
}
.ait_houses .mainApartment .imgBox:nth-of-type(2n) {
  margin-right: 0;
}
.ait_houses .mainApartment .imgBox img {
  width: 100%;
  height: 2.33rem;
  border-radius: 3px;
  -o-border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}
.ait_houses .mainApartment .imgBox p {
  font-size: .28rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  line-height: .4rem;
  height: .8rem;
  margin: .2rem 0;
  padding: 0;
}
.ait_houses .mainApartment .imgBox .price {
  display: block;
  height: .44rem;
  line-height: .40rem;
  font-size: .44rem;
  color: #fe393d;
}
.ait_houses .mainApartment .imgBox .price i {
  font-style: normal;
  font-size: .28rem;
  margin-right: .1rem;
}
.ait_activitys {
  margin: .2rem .15rem;
  border-radius: 0.03rem;
  -o-border-radius: 0.03rem;
  -moz-border-radius: 0.03rem;
  -webkit-border-radius: 0.03rem;
  height: auto;
  background-color: #fff;
}
.ait_activitys .title {
  display: block;
  width: 90%;
  height: 1rem;
  line-height: 1rem;
  border-bottom: #e1e1e1 1px solid;
  margin: 0 auto;
}
.ait_activitys .title h4 {
  display: inline-block;
  font-size: .28rem;
  line-height: .4rem;
  font-weight: normal !important;
  color: #555;
}
.ait_activitys .banner {
  width: 90%;
  height: auto;
  margin: 0 auto;
  padding: .25rem 0;
}
.ait_activitys .banner .swiper-slide {
  height: 2rem;
  width: auto;
  margin-right: .2rem;
}
.ait_activitys .banner .swiper-slide .imgBox {
  position: relative;
  height: 100%;
  width: auto;
}
.ait_activitys .banner .swiper-slide .imgBox img {
  height: 100%;
  width: auto;
}
.ait_activitys .banner .swiper-slide .imgBox .titleRec {
  position: absolute;
  bottom: .25rem;
  left: .3rem;
  z-index: 2;
  color: #fff;
  height: .4rem;
  line-height: .4rem;
  font-size: .28rem;
  font-weight: normal !important;
}
.footer {
  width: 100%;
  height: 1rem;
  padding: .2rem 0;
}
.footer img {
  display: none;
  margin: 0 auto;
  width: 17%;
  height: auto;
}
