@charset "UTF-8";
@import "base";

.banner-unslider-test {
  display: none;
}

.banner {

  position: relative;
  width: 100%;
  overflow: hidden;
  .swiper-slide.f1 .text {
    text-align: center;
  }

  .text {
    color: #fff;
    text-align: center;
    h2 {
      font-weight: bold;
      font-size: .34rem;
      line-height: 110%;
    }
    p {
      font-size: .21rem;
      line-height: 180%;
    }
    position: absolute;
    z-index: 20;
    width: auto;
    top: 50%;
    left: 50%;
    .transform_translate(-50%, -50%);
  }
  .imgBox {
    height: auto;
    position: relative;
    background: rgba(0, 0, 0, 0, 5);
    .layer1 {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 10;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
    }
  }
}

.next-icon, .prev-icon {
  display: block;
  height: .74rem;
  width: .74rem;
  background: url(../image/ban-icon-l.png) center no-repeat;
  position: absolute;
  z-index: 2;
  top: 40%;
  cursor: pointer;
  &:hover {
    background: url(../image/ban-icon-r.png) center no-repeat;
  }
}

.next-icon {
  right: .1rem;
  .transform(rotate(180deg));
  &:hover {
    .transform(rotate(360deg));
  }
}

.prev-icon {
  left: .1rem;
  &:hover {
    .transform(rotate(180deg));
  }
}

.swiper-pagination-bullet {
  .border_radius();
  border: solid 2px #fff;
  //background-color: rgba(0, 0, 0, 0);
  &.swiper-pagination-bullet-active {
    border: none;
    background-color: #fff;
  }
}

.media-md({ .text {
  width: 100%;
  padding: 0.5rem 5% .15rem 5%;
  color: #000;
  h2 {
    font-size: 300% !important;
  }
  p {
    font-size: 150% !important;
  }
} .prev-icon, .next-icon {
    top: 50%;
  } });

.media-sm({ .banner {
  background-color: #fff;
  .next-icon, .prev-icon {
    top: 70%;
    .transform(scale(0.5)) !important;
  }
  .next-icon {
    background: url(../image/sm-ban-r.png) center no-repeat !important;
    .transform(rotate(0deg));
  }
  .prev-icon {
    background: url(../image/sm-ban-l.png) center no-repeat !important;
  }
  .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: #959595;

  }
  .text {
    position: relative;
    text-align: left !important;
    width: 100%;
    padding: .15rem 13% .28rem 13%;
    color: #3d3d3d;
    .transform_translate(0%, 0%);
    left: 0;
    top: 0;
    text-overflow: ellipsis;
    h2 {
      font-size: .36rem;
    }
    p {
      font-size: .28rem;
    }
  }
} .intro {
    .item {
      .headerImgBox {
        display: none !important;
      }
      .headerImgBox-sm {
        display: block !important;
        position: relative !important;
        margin: 0.5rem auto 0;
        width: 25% !important;
        h2 {
          line-height: .28rem !important;
          font-size: .28rem;
          margin: .1rem auto 0;

        }
      }
      h2, h5, p {
        margin-left: 0 !important;
      }
      h2, h5 {
        text-align: center;
      }
      h2 {
        line-height: 100%;
      }
      h5 {
        font-size: .28rem;
        line-height: 1.5;

      }
      p {
        font-size: .28rem !important;
      }
    }
  } });

.intro {
  hr {
    background-color: #c9c9c9;
    margin: auto;
    width: 90%;
  }

  h2 {
    font-size: .26rem;
    line-height: 400%;
  }
  h5 {
    font-size: .22rem;
    line-height: 1.2;
  }


  .item {
    position: relative;
    .media(margin, .2rem auto, .4rem auto, .8rem auto);
    .headerImgBox-sm {
      display: none;
    }
    .headerImgBox {
      display: block;
      position: absolute;
      width: 22%;
      h2 {
        text-align: center;
        line-height: .72rem;
        color: #3d3d3d;
      }
    }
    h5, p {
      margin-left: 25%;
    }
    h5 {
    }

    p {
      font-size: .18rem;
      line-height: 1.5;
    }

  }

}

.header {
  .nav {
    .bor {
      left: 25%;
    }
  }

}

.footer {
  display: none;
}

.media-sm({ .copyright {
  font-size: .16rem !important;
} .footer {
    display: block;
  } });

.info-address {
  img {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  h1 {
    line-height: .5rem;
    border-bottom: solid 2px #fe393d;
    margin: .2rem 0;
    font-size: .3rem;
  }
  small {
    font-size: .2rem;
    margin: .1rem 0;
    display: block;
  }
  div {
    font-size: .2rem;
    margin: .1rem 0 .3rem 0;
    span {
      display: inline-block;
      &:not(:last-child) {
        margin-right: .1rem;
      }
    }
  }
  .aboutBox {
    color: #555;
  }
}

.media-sm({ .info-address {
  img {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  h1 {
    line-height: .5rem;
    border-bottom: solid 2px #fe393d;
    margin: .2rem 0;
    font-size: .13rem;
  }
  small {
    font-size: .08rem;
    margin: .1rem 0;
    display: block;
  }
  div {
    font-size: .1rem;
    margin: .1rem 0 .3rem 0;
  }
  .aboutBox {
    color: #555;
  }
} });