@charset "UTF-8";
@import "mixins";
@import "fragment/header";
@import "common";

.banner {
  position: relative;
  .swiper-slide.f1 .text {
    text-align: center;
  }

  .text {
    color: #fff;
    text-align: center;
    h2 {
      font-weight: bold;
      font-size: 6rem;
      line-height: 110%;
    }
    p {
      font-size: 3rem;
      line-height: 180%;
    }
    position: absolute;
    z-index: 20;
    width: auto;
    top: 50%;
    left: 50%;
    .transform_translate(-50%, -50%);
  }

  .layer1 {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
}

  .swiper-button-next, .swiper-button-prev {
  }

  .swiper-pagination-bullet {
    .border_radius();
    border: solid 2px #fff;
    //background-color: rgba(0, 0, 0, 0);
    &.swiper-pagination-bullet-active {
      border: none;
      background-color: #fff;
    }
  }

  .media-md({ .text {
    width:100%;
    padding:0.5rem 5% 1.5rem 5%;
    color:#000;
    h2 {
      font-size: 4rem;
    }
    p {
      font-size: 2.5rem;
    }
  } });

  .media-sm({ .layer1 {

<<<<<<< HEAD
  } .text {
      position: relative;
      height: 7rem;
      width: 100%;
=======
  .swiper-button-next, .swiper-button-prev {
    top:30%;
  }



    .text {
      position:relative;
      width:100%;
      padding:0.5rem 5% 1.5rem 5%;
      color:#000;
      background: #fff;
>>>>>>> 388c4d1d82039ff8f8e86d5487d80bc3d0b4141b
      .transform_translate(0%, 0%);
      left: 0;
      top: 0;

      h2 {
        font-size: 3.6rem;
      }
      p {
        font-size: 2.5rem;
      }
    } });
}

.intro {
  hr {
    background-color: #c9c9c9;
    margin: auto;
    width: 90%;
  }

  h2 {
    font-size: 3.6rem;
    line-height: 400%;
  }
  h5 {
    font-size: 2.4rem;
    line-height: 300%;
  }

  p {
    color: #555555;
    font-size: @fs_p;
    line-height: 200%;
  }

  > p {
    //margin: 6rem auto;

    .margin(10px auto, 40px auto, 60px auto);
    width: 90%;
  }

  .item {
    position: relative;
    .margin(40px auto, 80px auto, 120px auto);
    width: 90%;
    img {
      position: absolute;
      width: 16%;
    }
    h2, h5, p {
      margin-left: 25%;
    }

    h2 {
    }

    h5 {
    }

    p {
      font-size: 2.4rem;
      line-height: 200%;
    }

  }

}

header {
  nav {
    .bor {
      left: 25%;
    }
  }

}

