@import "mixins";
@import "mixins/media";
@fs_p: 2.8rem;

.clearfix {
  &::after {
    display: table;
    clear: both;
    content: "";
  }
}

body {
  background-color: #f0f0f0;
  overflow-x: hidden;
}

html {
  font-size: 45%;
}

@media (max-width: 767px) {
  html {
    //font-size: 30%;
  }
}

.mainbox {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 980px;
  overflow-x: hidden;
}

.hp {
  &:hover {
    cursor: pointer;
  }
}

.media-sm({ body {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
} });


.keyframes("about",{
50%{
  .transform_translateX(100%);
}
100%{
  .transform_translateX(100%);
}
});
.keyframes("about",{
50%{
  .transform_translateX(100%);
}
100%{
  .transform_translateX(100%);
}
});
.keyframes("join_us",{
50%{
  .transform_translateX(100%);
}
100%{
  .transform_translateX(100%);
}
});
.keyframes("news",{
50%{
  .transform_translateX(100%);
}
100%{
  .transform_translateX(100%);
}
});
.keyframes("index",{
50%{
  .transform_translateX(100%);
}
100%{
  .transform_translateX(100%);
}
});


.bor.index{.animation(index 2s );}
.bor.join_us{.animation(join_us 2s );}
.bor.news{.animation(news 2s );}
.bor.about{.animation(about 2s );}

