@import "mixins";
@import "mixin/media";

@fs_p: .28rem;

//common
.clearfix:before, .clearfix:after {
  content: '';
  display: table;
}

.clearfix:after {
  clear: both;
  overflow: hidden;
}

.clearfix {
  zoom: 1;
}

.clear {
  clear: both;
  display: block;
  font-size: 0;
  height: 0;
  line-height: 0;
  overflow: hidden;
}

.hide {
  display: none;
}

.block {
  display: block;
}

.fl, .fr {
  display: inline;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.mainbox {
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  max-width: 980px;
}

.hp {
  &:hover {
    cursor: pointer;
  }
}

.media-sm({ body {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
} });

.keyframes(about, { 50% {
  left: 20%
} 100% {
    left: 20%
  } });
.keyframes(guide, { 50% {
  left: 40%
} 100% {
    left: 40%
  } });

.keyframes(hr, { 50% {
  left: 80%
} 100% {
    left: 80%
  } });
.keyframes(news, { 50% {
  left: 60%
} 100% {
    left: 60%
  } });
.keyframes(index, { 50% {
  left: 0
} 100% {
    left: 0
  } });

.bor.index {
  .animation(index .6s);
}

.bor.guide {
  .animation(guide .6s);
}

.bor.hr {
  .animation(hr .6s);
}

.bor.news {
  .animation(news .6s);
}

.bor.about {
  .animation(about .6s);
}

.path {
  .hide-sm;
}

.footer1 {
  position: absolute;
  width: 100%;
  background-color: #191919;
  bottom: 0;
  .copyright {
    padding: 10px 0;
    line-height: 1.5;
    color: #cacaca;
    font-size: 12px;
    text-align: center;
  }
}

.intro {
  padding: .8rem .65rem;
  .border_radius(6px);
  .box_shadow(4px 4px 8px #d4d4d4);
  margin-bottom: 10px;
  background-color: #fff;
  &.culture {
    background: url("../image/culture.jpg") 0 2px #fff no-repeat;
    -webkit-background-size: auto 100%;
    background-size: auto 100%;
  }
  &.notptop {
    padding-top: 0;
  }
  &.notp {
    padding: 0;
  }
  .title1 {
    margin: 0 0 .35rem 0;
    position: relative;
    width: auto;
    display: inline-block;
    font-size: .44rem;
    color: #555;
    .rightArrow {
      position: absolute;
      left: 100%;
      top: 0;
      display: block;
      height: .6rem;
      width: .8rem;
      background: url(../image/arrow-r.png) center no-repeat;
      -webkit-background-size: .6rem;
      background-size: .6rem;
      vertical-align: middle;
    }
    &.link {
      color: #1e439a !important;
      border-bottom: solid 1px #1e439a;
    }
  }
  .bigpic {
    margin: 1.7rem auto 1.4rem auto;
    width: 80%;
  }
  p {
    color: #555555;
    font-size: .24rem;
    line-height: .44rem;
    .bigpic {
      margin: .35rem auto .8rem auto;
      width: 100%;
    }
  }

}

@media screen and(max-width: @media_sm_max) {
  .intro {
    padding: .6rem .44rem;
    position: relative;
    margin: 25px auto;
    .title1 {
      position: relative;
      width: auto;
      display: inline-block;
      font-size: .44rem;
      color: #555;
      .rightArrow {
        position: absolute;
        left: 100%;
        top: 0;
        display: block;
        height: .6rem;
        width: .8rem;
        background: url(../image/arrow-r.png) center no-repeat;
        -webkit-background-size: .6rem;
        background-size: .6rem;
        vertical-align: middle;
      }
      &.link {
        color: #1e439a !important;
        border-bottom: solid 1px #1e439a;
      }
    }
    .bigpic {
      margin: 1rem auto 1rem auto;
    }
    p {
      .bigpic {
        margin: .4rem auto;

      }
    }
    .aboutBox {
      h1 {
        font-size: .24rem;
      }
      small {
        font-size: .16rem;
      }
      div {
        font-size: .2rem;
      }
    }
  }
}

.top {
  display: block;
  .media(height, .6rem, 1.6rem, 1.6rem)
}