@charset "UTF-8";
@import "base.i8";
.header {
  .nav {
    color: #555555;
    position: absolute;
    .media-sm({ background-color: transparent; });
    a {
      &:hover {
        color: #959595;
      }
    }
    .bor {
      left: 40%
    }
  }
}