@charset "UTF-8";
@import "base";

body {
  height: 100%;
}

.banner {
  position: absolute;
  height: 100%;
  width: 100%;
  background: url("../image/big.png") center no-repeat;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  .pic1-sm {
    display: none;

  }
  .pic2-sm-text {
    display: none;
  }
  .middleImg {
    display: none;
    max-height: 90%;
    overflow: hidden;
    width: 100%;
  }
  .layer1 {
    position: absolute;
    z-index: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
  }
  .layer2 {
    position: absolute;
    z-index: 1;
    width: 100%;
    //min-height: 20%;
    background-color: rgba(0, 0, 0, 0.5);

    top: 0;
    .transform(translateY(-100%));

  }

  .pic2 {
    left: 50%;
    height: 50%;
    width: auto;
    position: absolute;
    z-index: 5;
    top: 23%;
    max-width: 318px;
    max-height: 242px;
    .transform(translate(-50%));
    .pic_title {
      line-height: 2;
      font-size: .24rem;
      color: #fff;
      text-align: center;
      font-weight: normal;
    }
    .qr {
      width: 50%;
      height: auto;
      margin: .4rem auto;
      border: #fff 10px solid;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      background-color: #fff;
    }
    .pic_text {
      line-height: 1.5;
      font-size: .2rem;
      color: #fff;
      text-align: center;
    }
  }
  .pic2-sm {
    display: none;
  }
  .footer {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 10;
    background-color: #191919;
    .copyright {
      line-height: 1.5;
      padding: 10px 0;
      color: #cacaca;
      font-size: 12px;
      text-align: center;
    }
  }

}

.intromsg {
  position: relative;
  color: #ffffff;
  margin: 25px auto;
  ul {
    width: 100%;
  }
  li {
    margin: .1rem 0;
    position: relative;
    float: left;
    width: 25%;
    //height:200px;
  }
  img {
    position: absolute;
    left: 40%;
    margin-left: -.13rem;
    height: 38px;
    width: auto;
    .transform(translateX(-100%));
  }
  h3, p {
    margin-left: 40%;
  }
  h3 {
    font-size: .18rem;
    line-height: .36rem;
  }
  p {
    font-size: .13rem;
    line-height: 2;
  }

  .media-md({ li {
    width: 50%;
  } });

}

.media-sm({ .header {
  li {
    font-size: 0.25rem;
  }
} });

.media-sm({ .banner {
  background: url("../image/pic-sm.png") center no-repeat;
  background-size: 100% 100%;
  .pic1-sm {
    display: block;
  }
  .pic1 {
    display: none;
  }

  .pic2 {
    display: none;
  }
  //
  .pic2-sm {
    position: absolute;
    z-index: 30;
    display: block;
    width: 50%;
    top: 14%;
    left: 50%;
    .transform(translateX(-50%));
    .logo {
      width: 70%;
      height: auto;
      margin: 0 auto;
    }
    .pic_title {
      margin-top: .14rem;
      line-height: 2;
      font-size: .24rem;
      color: #fff;
      text-align: center;
      font-weight: normal;
    }
    .qr {
      width: 50%;
      height: auto;
      margin: .2rem auto;
      background-color: #fff;
    }
    .pic_text {
      line-height: 1.5;
      font-size: .26rem;
      color: #fff;
      text-align: center;
    }
  }

} });
.media-md({ .layer1 {
  height: 100% !important;
} .layer2 {
    //    min-height: 30% !important;
    //    bottom: 4% !important;
    //    height: auto !important;
  } .copyright {
      bottom: 0 !important;
    } .banner {
        .pic2 {
          top: 17% !important;
        }
      } });
@media screen and(max-width: @media_sm_max) {
  .layer1 {
    height: 100% !important;
  }

  .layer2 {
    min-height: 30% !important;

    top: 0;
    .transform(translateY(-100%));

    height: auto;
  }

  .copyright {
    font-size: .18rem !important;
    bottom: 0 !important;
  }
}

.media-sm({ .intromsg {
  padding: 0 0;
  margin: 0 auto;
  li {
    margin: .3rem auto;
    width: 50%;
    img, h3, p {
      margin: auto;
      text-align: left;
    }
    h3, p {
      line-height: 1.5;
      margin-left: 20%;
    }
    h3 {
      font-size: .3rem
    }
    p {
      font-size: .24rem
    }
    img {
      position: absolute;
      .transform(translateX(0%));
      left: 7%;
      margin: auto;
      height: .4rem;
    }

  }
} });

.header {
  position: absolute;
}

.footer {
  display: block;
  .media-sm({ padding: 0; });
}

