@charset "UTF-8";
@import "base.i8";

body {
  height: 100%;
}

.banner {
  height: 100%;
  width: 100%;
  //  background-image: url("../image/big.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://www.11bnb.com/static/v2/image/big.png', sizingMethod='scale');
  .pic1-sm {
    display: none;
  }
  .pic2-sm-text {
    display: none;
  }
  .middleImg {
    display: none;
    max-height: 90%;
    overflow: hidden;
    width: 100%;
  }
  .layer1 {
    position: absolute;
    z-index: 0;
    top: 0;
    width: 100%;
    height: 100%;
    filter: alpha(opacity=20);
    background-color: #000;
  }
  .layer2 {
    position: absolute;
    z-index: 1;
    width: 100%;
    top: auto;
    bottom: 100%;
  }

  .pic2 {
    left: 40%;
    height: 40%;
    width: auto;
    position: absolute;
    z-index: 5;
    top: 23%;
    max-width: none;
    max-height: none;
    .pic_title {
      line-height: 2;
      font-size: 24px;
      color: #fff;
      text-align: center;
      font-weight: normal;
    }
    .qr {
      width: 50%;
      height: auto;
      margin: 30px auto;
      border: #fff 10px solid;
      background-color: #fff;
    }
    .pic_text {
      line-height: 1.5;
      font-size: 20px;
      color: #fff;
      text-align: center;
    }
  }
  .pic2-sm {
    display: none;
  }
  .footer {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 10;
    background-color: #191919;
    .copyright {
      line-height: 1.5;
      padding: 10px 0;
      color: #cacaca;
      font-size: 12px;
      text-align: center;
    }
  }

}

.layer2 {
  height: 160px;
}

.ie8-filter {
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  filter: alpha(opacity=50);
}

.intromsg {
  position: relative;
  z-index: 200;
  color: #ffffff;
  margin: 25px auto;
  ul {
    width: 100%;
  }
  li {
    margin: 10px 0;
    position: relative;
    float: left;
    width: 25%;
    //height:200px;
  }
  img {
    position: absolute;
    left: 26%;
    margin-left: -13px;
    height: 38px;
    width: auto;
  }
  h3, p {
    margin-left: 40%;
  }
  h3 {
    font-size: 18px;
    line-height: 36px;
  }
  p {
    font-size: 13px;
    line-height: 2;
  }

}

.header {
  position: absolute;
}

.footer {
  display: block;
}
