@charset "UTF-8";
@import "mixins";
@import "common";
@import "fragment/header";
@import "fragment/footer";

.top {
  display: block;
  .media(height, 1.6rem, 1.6rem, 1.6rem)
}

.intro {
  width: 95%;
  .border_radius(6px);
  .box_shadow(4px, 4px, 8px, #d4d4d4);
  margin-bottom: 10px;
  background-color: #fff;
  padding: 30px 0;
  .title {
    font-size: .3rem;
    line-height: 2;
    color: #555;
    margin: auto 1.2rem;
    .rightArrow {
      display: inline-block;
      height: .3rem;
      width: .8rem;
      background: url(../image/arrow-r.png) center no-repeat;
      -webkit-background-size: .44rem;
      background-size: .44rem;
      vertical-align: middle;
      margin-top: -10px;
    }
  }
  .item {
    line-height: .4rem;
    margin: auto 1.4rem;
    .flex-box();
    .star {
      margin-top: .09rem;
      height: .2rem;
      width: .2rem;
      display: block;
      float: left;
      background: url("../image/star.png") center no-repeat;
      -webkit-background-size: .15rem;
      background-size: .15rem;
      .flex();
    }
    span {
      margin-left: .4rem;
      width: auto;
      text-align: justify;
      display: block;
      float: left;
      font-size: .18rem;
      color: #fe393d;
      .flex();
    }

    .text {
      margin-left: .4rem;
      float: left;
      font-size: .18rem;
      .flex(1);
    }
  }

  @media screen and(max-width: @media_sm_max) {
    .title {
      margin-left: .36rem;
    }

    .item {

      margin: 10px auto;
      width: 98%;
      height: auto;
      .flex-box();
      .star {
        line-height: 2;
        margin-left: 0 !important;
        margin-top: 9px !important;
        .flex();
      }

      .time {
        line-height: 2;
        width: auto;
        margin-left: 5px !important;
        .flex();
      }

      .text {
        line-height: 2;
        margin-left: 10px;
        padding-left: 0;
        color: #555555;
        font-size: .19rem;
        .flex(1);
      }
    }

  }
}

.header {
  .nav {
    color: #555555;
    position: absolute;
    .media-sm({ background-color: transparent; });
    a {
      &:hover {
        color: #959595;
      }
    }
    .bor {
      left: 50%
    }
  }
}

.footer {
  display: none;
}

@media screen and(max-width: @media_sm_max) {
  .copyright {
    font-size: 10px !important;
  }
}