@charset "UTF-8";
@import "mixins";
@import "common";
@import "fragment/header";
@import "fragment/footer";

.header {
  position: absolute;
  .media-sm({ background-color: transparent; });
}

.top {
  display: block;
  //height: 160px;
  .media(height,60px, 160px, 160px)
}

.intro {
  width: 95%;
  .border_radius(6px);
  .box_shadow(4px, 4px, 8px, #d4d4d4);
  margin-bottom: 10px;
  background-color: #fff;
  padding: 30px 0 470px;
  .title {
    font-size: 4.4rem;
    line-height: 2;
    color: #555;
    margin-left: 15%;
    margin-bottom: 8rem;
    .rightArrow {
      display: inline-block;
      height: 4.4rem;
      width: 8rem;
      background: url(../image/arrow-r.png) center no-repeat;
      -webkit-background-size: 4.4rem;
      background-size: 4.4rem;
      vertical-align: middle;
      margin-top: -10px;
    }
  }
  .item {
    .clearfix;
    line-height: 4rem;
    .star {
      margin-left: 18%;
      margin-top: .9rem;
      height: 2rem;
      width: 2rem;
      display: block;
      float: left;
      background: url("../image/star.png") center no-repeat;
      -webkit-background-size: 1.5rem;
      background-size: 1.5rem;
    }
    span {
      width: 12rem;
      text-align: justify;
      display: block;
      float: left;
      margin-left: 28px;
      font-size: 2.4rem;
      color: #fe393d;
    }

    .text {
      float: left;
      font-size: 2.4rem;
    }
  }

  .media-sm({ line-height: 2rem !important; margin: 10px auto; width: 98%; height: auto; .clearfix(); .star {
    margin-left: 0 !important;
    margin-top: 9px !important;
  } .time {
      width: 100px!important;
      margin-left: 5px!important;
    } .text {
        margin-left: 10px;
        padding-left: 0;
        color: #555555;
        font-size: 1.9rem;
        max-width: 50%;
      } });
}

.media-md({ .title {
  margin-left: 50px !important;
} .item {
    .star {
      margin-left: 30px !important;
    }
  } });
.media-sm({ .intro {
  padding-bottom: 300px !important;
  .title {
    margin-bottom: 0 !important;
    margin-left: 5% !important;
  }
} });

.header {
  .nav {
    color: #555555;
    a {
      &:hover {
        color: #959595;
      }
    }
  }
}

.header {
  .nav {
    .bor {
      left: 50%
    }
  }

}

.footer {
  display: none;
}

.media-sm({ .copyright {
  font-size: 10px !important;
} });