@charset "UTF-8";
@import "base.i8";

header {
  position: absolute;

}

.top {
  display: block;
  height: 160px;
}

.intro {
  position: relative;
  //  width: 95%;
  //  margin-bottom: 10px;
  //  background-color: #fff;
  //  padding: 30px 0;
  //  .title {
  //    font-size: 44px;
  //    line-height: 2;
  //    color: #555;
  //    margin-left: 15%;
  //    margin-bottom: 80px;
  //    .rightArrow {
  //      display: inline-block;
  //      height: 44px;
  //      width: 80px;
  //      background: url(../image/arrow-r.png) center no-repeat;
  //      -webkit-background-size: .44rem;
  //      background-size: .44rem;
  //      vertical-align: middle;
  //      margin-top: -10px;
  //    }
  //  }
  .item {
    line-height:normal;
    margin: 20px auto;
    position: relative;
    height: 96px;
    &.n2, &.n3, &.n4{
      height: 56px;
    }
    .clearfix !important;
    .star {
      line-height: 2;
      margin-left: 10%;
      margin-top: 9px;
      height: 20px;
      width: 20px;
      display: block;
      float: left;
      background: url("../image/star.png") center no-repeat;
      -webkit-background-size: .15rem;
      background-size: .15rem;
    }
    span {
      line-height: 2;
      width: 130px;
      text-align: justify;
      display: block;
      float: left;
      margin-left: 28px;
      font-size: 24px;
      color: #fe393d;
    }

    .text {
      line-height: 2;
      float: left;
      font-size: 24px;
      margin-left: 5px;
      width: 500px;
    }
  }
}

.header {
  .nav {
    color: #555555;
    a {
      &:hover {
        color: #959595;
      }
    }
  }
}

.header {
  .nav {
    .bor {
      left: 50%
    }
  }

}

.footer {
  display: none;
}
